<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link rel="stylesheet" type="text/css" href="admincss/css/style.css" />
<script type="text/javascript" src="admincss/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="admincss/js/index.js"></script>
</head>

<body>
<div class="nav-top">
    <span>个人后台管理系统</span>
    <div class="nav-topright">
        <p>上次登陆时间：2015-04-15 22:33:50   登陆IP：192.168.1.1</p>
        <span>您好：管理员</span><span>注销</span>
    </div>
</div>

</body>
</html>