
<table class="table table-hover has-padding">
    <thead>
        <tr>
            <th class="p-tit" style="text-indent:20px">项目信息</th>
            <th>待回款金额(元)</th>
            <th>还款方式</th>
            <th>还款日期</th>
        </tr>
    </thead>
    {{#if list}}
    <tbody>
        {{#each list}}
        <tr>
            <td style="text-indent:20px;">
                <a class="loan-tit" href="/loan/{{repayment.invest.loanId}}"
                target="_blank" style="color:#4a4a4a;text-decoration:none" rel="nofollow" >{{loanTitle}}</a>
            </td>
            <td style="color:#4a4a4a">{{repayment.repayment.amount}}&nbsp;&nbsp;&nbsp;&nbsp;(本{{repayment.repayment.amountPrincipal}}，息{{repayment.repayment.amountInterest}})</td>
            <td style="color:#999999">{{repayMethod}}</td>
            <td style="color:#999999">{{repayment.repayment.dueDate}}</td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
{{#if list}}
<div class="space-10"></div>
<div class="ccc-paging"></div>
<div class="sapce-30"></div>
{{else}}
<div class="no-back-data"></div>
{{/if}}