#main-container .title{
  font-size: 14px;
    color: #4a4a4a;
	background-color: #fff;
}
#main-container .title a{
  font-size: 14px;
    color: #009ada;
}
#main-container .s-content{
    width: 1100px;
    margin: auto;
}
#main-container .s-content table{
    width: 1100px;
    border-top:2px solid #009ada;
}
#main-container .s-content .investBoxTitle{
    text-align: center;
    color: #007ec5;
    font-size: 24px;
    width: 180px;
    margin: auto;
    border-bottom: 1px solid #d9d9d9;
    line-height: 70px;
}
#main-container .s-content .investBoxNew{
    text-align: center;
    color:#4a4a4a;
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
    padding-bottom: 42px;
}
#main-container .s-content .investBox{
    background: #f6f8fc;
    height: 214px;
}
#main-container .s-content .investBoxNew a{
    color:#007ec5;
}
#main-container .s-content table th{
    background-color: #F5F4F9;
    color:#4a4a4a;
    font-size: 14px;
    text-align: left;
    height:50px;
	font-weight: bold;

}

/*banner*/
.no-warry{
    width:350px;
    border: 2px solid #eeeeee;
    height: 166px;
    margin-right: 25px;
    float: left;
        cursor: pointer;
    background: #fff;
    margin-top: 30px;
}
.active{
    border: 2px solid #009ada;
        cursor: pointer;
}
.leave{
    border: 2px solid #eeeeee;
}
.no-warry-left{
    width:126px;
    height:90px;
    border-right:1px #eeeeee solid;
    margin-top: 35px;
        text-align: center;
    float: left;
}
.no-warry-left img{

}
.s-content .no-warry-right {
float: right;
    width:212px;
    margin-top: 42px;
  
}
.s-content .no-warry-right p{
    line-height: 24px;
    font-size: 16px;
    color: #4a4a4a;
}
.s-content .no-warry-left p{
      font-size: 24px;
    color: #ffc808;
}