<link rel="stylesheet" href="/ccc/account/css/common.css">
<link rel="stylesheet" href="/ccc/account/css/autobid.css">

<div class="account-wraper">
    {{>topNav}}
</div>

 <div class="account-autobid-wrapper">
        <div class="space space-20"></div>
        <div class="has-line">
            <div class="row ccc-container">
                <div class="col-md-12">
                    <div class="header-text pull-left">自动投资</div>
					
                </div>
            </div>
        </div>
        <div class="space space-8"></div>
        <div class="ccc-container row">
            <div class="col-md-12 autobid-ractive-container current-container">
            	<p class="loading">loading...</p>
            </div>
        </div>
    </div>
    <div class="space space-50">&nbsp;</div>

<script src="/ccc/account/js/main/autobid.js"></script>
