<link rel="stylesheet" href="/ccc/account/css/common.css">
<link rel="stylesheet" href="/ccc/account/css/feedback.css">


<div class="account-wraper">
    {{>topNav}}
</div>

<div class="account-feedback-wrapper">
     <div class="space space-20"></div>
        <div class="has-line">
            <div class="row ccc-container">
                <div class="col-md-12">
                    <div class="header-text pull-left">用户反馈</div>
					
                </div>
            </div>
        </div>
        <div class="space space-8"></div>
        <div class="ccc-container row">
            <div class="col-md-12 feedback-ractive-container current-container">
            	<p class="loading">loading...</p>
            </div>
        </div>
    </div>

    <div class="space space-50">&nbsp;</div>


<script src="/ccc/account/js/main/feedback.js"></script>
