<link rel="stylesheet" href="/ccc/account/css/common.css">
<link rel="stylesheet" href="/ccc/account/css/funds.css">
<link rel="stylesheet" href="/ccc/global/css/modules/cccPaging.css">

<div class="account-wraper">
    {{>topNav}}
	
    <div class="account-funds-wrapper">
        <div class="space space-20"></div>
        <div class="has-line">
            <div class="row ccc-container">
                <div class="col-md-12">
                    <div class="header-text pull-left">收支明细</div>
					<div class="ccc-tab pull-right" data-header-selector=".header-text">
						<ul class="tabs">
							<li class="active"><a href="#">收支明细</a>
							</li>
							<li><a href="#">充值记录</a>
							</li>
							<li><a href="#">提现记录</a>
							</li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <div class="space space-8"></div>
        <div class="ccc-container row">
            <div class="col-md-12 funds-ractive-container current-container">
            	<p class="loading">loading...</p>
            </div>
        </div>
    </div>
    <div class="space space-50">&nbsp;</div>
</div>

<script src="/ccc/account/js/main/funds.js"></script>
