<link rel="stylesheet" href="/ccc/account/css/common.css">
<link rel="stylesheet" href="/ccc/account/css/invite.css">
<link rel="stylesheet" href="/ccc/global/css/modules/cccPaging.css">

<div class="account-wraper">
    {{>topNav}}
    <div>
        <div class="hide">
            <embed id="ZeroClipboard-path" src="/ccc/global/img/ZeroClipboard.swf">
            <!-- <img src="/ccc/global/img/logo_word.png" id="er-img-url" class="hide"> -->
            <img src="/ccc/global/img/shareS.png" id="imgurls" class="hide">
            <img src="/ccc/global/img/share.png" id="imgurl" class="hide">
        </div>
        
        <div class="ccc-container row bg-white ccc-account-inner">
            <div class="col-md-12 ccc-invite-wrap">
                <p class="loading">加载中...</p>
            </div>
        </div>
        <div class="space space-50"></div>
    </div>
</div>

<div class="space space-50">&nbsp;</div>
<script src="/ccc/account/js/main/invite.js"></script>
