<link rel="stylesheet" href="/ccc/account/css/common.css">
<link rel="stylesheet" href="/ccc/account/css/banks.css">
<link rel="stylesheet" href="/ccc/account/css/settings.css">
<div class="account-wraper">
    {{>topNav}}
	
	<div class="account-settings-wrapper">
        <div class="space space-20"></div>
        <div class="has-line">
            <div class="row ccc-container">
                <div class="col-md-12">
                    <div class="header-text pull-left">{{ (tabs[tabIndex][subTabIndex]).text }}</div>
                    <div class="ccc-tab pull-right" data-no-tab="true">
                        <ul class="tabs">
                            {{#each (tabs[tabIndex]).subTabs }}
								<li class="{{#if subTabIndex === @index }}active{{/if}}">
									<a href="{{ url }}">{{ text }}</a>
								</li>
							{{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="space space-20"></div>
        <div class="ccc-container row">
            <div class="col-md-12 ccc-invests-wrap" id="ractive-container">
            	<div class="space space-20"></div>
            	<p class="loading align-center">加载中...</p>
            </div>
        </div>
    </div>
	<div class="space space-50">&nbsp;</div>
</div>

{{#if tabName === "settings"}}
<script src="/ccc/account/js/main/settings/index.js"></script>
{{/if}}
{{#if tabName === "paypwd"}}
<script src="/ccc/account/js/main/settings/paypwd.js"></script>
{{/if}}
{{#if tabName === "umpay"}}
<script src="/ccc/account/js/main/settings/umpay.js"></script>
{{/if}}
{{#if tabName === "bankcard"}}
<script src="/ccc/account/js/main/settings/bankcard.js"></script>
{{/if}}
{{#if tabName === "agreement"}}
<script src="/ccc/account/js/main/settings/agreement.js"></script>
{{/if}}
{{#if tabName === "safety"}}
<script src="/ccc/account/js/main/settings/safety.js"></script>
{{/if}}
{{#if tabName === "userInfo"}}
<script src="/ccc/account/js/main/settings/userInfo.js"></script>
{{/if}}