<div class="s-footer" id="footer-color-box">
    <div class="footerBox">
    <div class="s-footer-nav" id="footer-color">
        <div style="width:1100px;" class="s-footer-nav-content u-pos-r-center">
            <div class="bottom-left">
                <div class="bottom-right-service"><img src="/ccc/global/img/tel.png"><span style="color:#bcbcbc;">客服热线</span><span class="telNum">400-872-7676</span></div>
                    <p class="bottom-right-mail">服务时间：工作日 8:30 — 18:00</p>
                <p class="bottom-right-online">在线客服：<a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxNDcwNF8zMjA0NDJfNDAwODcyNzY3Nl8yXw"><img src="/ccc/global/img/navQQ.png" onmouseover="this.src='/ccc/global/img/blue-qq.png'" onmouseout="this.src='/ccc/global/img/navQQ.png'" /></a></p>
                <div class="bottom-right-aboutus-box">
                    <P class="bottom-right-aboutus">关注我们：<a href="http://weibo.com/5623474415/profile?rightmod=1&wvr=6&mod=personinfo/" target="_blank"><img src="/ccc/global/img/navWeibo.png" onmouseover="this.src='/ccc/global/img/yellow-weibo.png'" onmouseout="this.src='/ccc/global/img/navWeibo.png'" /></a>
                        <img style="margin-left:8px;" class="weixin-icon weixin-icon-act" src="/ccc/global/img/navWeixin.png" onmouseover="this.src='/ccc/global/img/green-weixin.png'" onmouseout="this.src='/ccc/global/img/navWeixin.png'"/>
                                    
                </P>
                <img class="erweima erweima-act" src="/ccc/global/img/erweima.png"/>
                </div>
            </div>
            <div class="bottom-right">

                <div class="bottom-rightApp" style="margin-right:34px;">
                    <img src="/ccc/global/img/dingyue.png"/>
                    <p class="text-p">微信订阅号</p>
                </div>
<!--
                <div class="bottom-rightApp">
                    <img src="/ccc/global/img/fuwu.png"/>
                    <p class="text-p">微信服务号</p>
                </div>
-->
            </div>

            <dl class="footer-guide">
                <dt><img src="/ccc/global/img/aboutus.png"/><a href="/aboutus/aboutus">关于我们</a></dt>
                <dd><a href="/aboutus/aboutus">奇乐融简介</a></dd>
                <dd class="footer-guide-style"><a href="/aboutus/background">股东背景</a></dd>
                <dd><a href="/aboutus/team">团队介绍</a></dd>
                <dd><a href="/aboutus/partner">合作伙伴</a></dd>
            </dl>
            <dl class="footer-guide">
                <dt><img src="/ccc/global/img/help.png"/><a href="/help/aboutus">帮助中心</a></dt>
                <dd><a href="/help/login">注册/登录</a></dd>
                <dd class="footer-guide-style"><a href="/help/cash">充值/提现</a></dd>
                <dd><a href="/help/money">如何投资</a></dd>
                <dd><a href="/help/safety">风控安全</a></dd>
            </dl>
              <!-- <dl class="footer-guide">
                <dt><img src="/ccc/global/img/map.png"/><a href="">网站地图</a></dt>
            </dl> -->
        </div>
        </div>
    </div>
    <div class="bottom-footer-box">
        <div class="bottom-footer">
            <div class="copyright">
                版权所有©2015奇乐融<a href="/">www.qilerong.com</a>  &nbsp;&nbsp;皖ICP备15013787号-1
            </div>
            <div>
                <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.qilerong.com" target="_blank"><img src="/ccc/global/img/footer-norton.png" style="width:100px" /></a>
                <a href="http://webscan.360.cn/index/checkwebsite/url/www.qilerong.com"><img border="0" src="/ccc/global/img/footer-360.png" class="footer-360"/></a>
                <!-- <img src="/ccc/global/img/computer.png" /> -->
                <a id='___szfw_logo___' href='https://credit.szfw.org/CX20150915011323560186.html' target='_blank'><img src='/ccc/global/img/footer-chengxin.png' border='0' class="footer-360"/></a>
               <!--  <img src="/ccc/global/img/cfca.png" />
                <img src="/ccc/global/img/v.png" class="footer-360" /> -->
            </div>
        </div>
    </div>
</div>
<!--    旁边导航条-->
<div class="side-bar-box">
    <div class="side-bar">
         <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxNDcwNF8zMjA0NDJfNDAwODcyNzY3Nl8yXw"><img src="/ccc/global/img/service.png" /></a>
        <a href="javascript:;" class="calculator-create"><img src="/ccc/global/img/calculator.png" /></a>
        <a class="back-top" href=""><img src="/ccc/global/img/backTop.png" /></a>
    </div>
</div>