<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.css"> -->
    
    <link rel="stylesheet" href="/ccc/global/css/base.css">
    <link rel="stylesheet" href="/ccc/global/css/base1.css">
</head>
<body>
<!-- 导航开始 -->

<div class="s-header" id="s-header-height">

    <div class="s-header-info" id="nav-color" style="background:#eee">
        <div class="s-header-info-content u-pos-r-center">
            <span class="nav-customer" style="color:#999">客服热线：400-999-9999<a target="_blank" href="Javascript;:" style="margin-top:-6px;margin-right:24px;"><img src="/ccc/global/img/navQQ.png"  onmouseover="this.src='/ccc/global/img/blue-qq.png'" onmouseout="this.src='/ccc/global/img/navQQ.png'"/></a></span>
            <span class="nav-aboutus">关注我们：            <a href="Javascript;:" target="_blank"  class="nav-weibo" style="margin-top:-5px;"><img src="/ccc/global/img/navWeibo.png"  onmouseover="this.src='/ccc/global/img/yellow-weibo.png'" onmouseout="this.src='/ccc/global/img/navWeibo.png'"/></a></span>

            <img class="weixin-icon" src="/ccc/global/img/navWeixin.png" onmouseover="this.src='/ccc/global/img/green-weixin.png'" onmouseout="this.src='/ccc/global/img/navWeixin.png'" />
            <img class="erweima erweima-act2" src="/ccc/global/img/erweima.png"/>
            <!-- <a href="/logout" class="text" style="color:#999;margin-right:5px;">退出&nbsp;&nbsp;|</a> -->
                <a href="/newAccount/home"><div id='head-ractive-container' style="color:#f58220;position:relative;bottom:1px;" class="text"></div></a>
            <!-- <div class="nav-mobile">

                <span>|</span> <a href="/help" id="mobileCustomer" class="text">手机客户端</a>
                <img src="/ccc/global/img/navMobile.png" />
            </div> -->

            <div class="nav-help">
                <span>|</span><a href="/help/aboutus" id="nav-help" class="text">帮助中心</a>
            </div>

            <div class="nav-fastregister">
                <span>|</span><a href="/reg" id="dingbuzhuce" class="text">注册</a>
            </div>
            <div class="nav-fastlogin">
                <!--               <span>|</span>-->
                <a href="/log" id="dingbudenglu" class="text">登录</a>
            </div>
        </div>
      
    </div>
    <div class="s-header-menu" id="menu">
        <div class="s-header-menu-content u-pos-r-center">
            <a href="/" style="float: left;" alt="奇乐融" title="奇乐融">
                <!-- <img class="s-icon" style="margin-top:26px;width:300px;" src="/ccc/global/img/navLogo.png"> -->
            </a>

           <!--  <div id="family" onmouseover="this.style.cursor='pointer'"   onmouseout="this.style.cursor='normal'">
                <p style="background: url(/ccc/global/img/slide.png) no-repeat;text-align:left;"  >联想控股大家庭</p>
                            <ul style="display: none;">

                                <li><a href="http://www.legendholdings.com.cn/Pages/Index.aspx" target="_blank">联想控股</a></li>
                                <li><a href="http://www.lenovo.com.cn/" target="_blank">联想集团</a></li>
                                <li><a href="http://www.zqfinancial.com/" target="_blank">正奇金融</a></li>
                                <li><a href="http://www.legendcapital.com.cn/" target="_blank">君联资本</a></li>
                                <li><a href="http://www.honycapital.com/" target="_blank">弘毅投资</a></li>
                                <li><a href="http://www.raycomchina.com/" target="_blank">融科智地</a></li>
                                <li><a href="http://www.joyvio.com/" target="_blank">佳沃集团</a></li>
                                <li><a href="http://www.legendholdings.com.cn/Business/Wine.aspx" target="_blank">丰联集团</a></li>
                                <li><a href="http://www.levima.cn/" target="_blank">联泓集团</a></li>
                                <li><a href="http://www.legendholdings.com.cn/Business/BetterChain.aspx" target="_blank">增益供应链</a></li>
                                <li><a href="http://www.legendholdings.com.cn/Business/EnsenCare.aspx" target="_blank">安信颐和</a></li>
                                <li><a href="http://www.lb-inv.com/" target="_blank">联保投资</a></li>
                                <li><a href="http://www.lakala.com/?COLLCC=3110440596&" target="_blank">拉卡拉</a></li>
                                <li><a href="http://www.xingheng.com.cn/" target="_blank">苏州星恒</a></li>
                                <li><a href="http://www.ibyergroup.com/" target="_blank">拜博口腔</a></li>
                                <li><a href="http://www.zuche.com/" target="_blank">神州租车</a></li>
                                <li><a href="http://www.huge.com.cn/" target="_blank">上海弘基</a></li>
                                <li><a href="http://www.legendstar.com.cn/" target="_blank">联想之星</a></li>
                           
            </ul>
            </div> -->

            <ul class="u-nolist-ul">
                    <li><a id="index" href="/">首页</a></li>
                    <li><a id="touzi" href="/invest">我要投资</a></li>
                    <li><a id="jiekuan" href="/applyloan">我要借款</a></li>
                <li>
                        <a id="safety" href="/account/home">我的账户</a>
                </li>

                <li><a id="help" href="/guide">新手引导</a></li>
                <li style="margin-left:24px;"><a id="aboutus" href="/aboutus/aboutus" >关于我们</a></li>
            </ul>

        </div>
    </div>
</div>
<!-- <script src="/ccc/global/js/main/header.js" async defer></script> -->
</body>
</html>
<script src="/global.js"></script>
<!-- <script src="/javascripts/lib/ractive.js"></script> -->
<script src="/javascripts/seajs/sea.js"></script>
<script src="/javascripts/seajs/seajs-text.js"></script>
<script>

  seajs.config({
    paths: {
      'gallery': 'https://a.alipayobjects.com/gallery'
    },
    alias: {
      // 'jquery': 'gallery/jquery/1.8.2/jquery.js',
      'seajs-debug': 'https://raw.github.com/seajs/seajs-debug/1.1.1/dist/seajs-debug.js'
    }
  })


</script>