.topnav-wraper {
  height: 197px;
  background: #f8f8f8;
  margin: 0 0 0px 0;
  padding: 0;
}
.topnav-wraper .line-ddd {
  padding-bottom: 15px;
}
.topnav-wraper .account-navbar {
  height: 60px;
  margin: 0px auto 0px auto;
  padding: 20px 0 0px 0;
}
.topnav-wraper .account-navbar li {
  float: left;
  margin: 0 9px 0 0;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #FCFCFC;
}
.topnav-wraper .account-navbar li a {
  font-size: 15px;
  color: #666;
  font-weight: normal;
  text-decoration: none;
}
.topnav-wraper .account-navbar li a:hover {
  text-decoration: none;
  color: #000;
}
.topnav-wraper .account-navbar li a:visited {
  text-decoration: none;
  color: #666;
}
.topnav-wraper .account-navbar li.active,
.topnav-wraper .account-navbar li:hover {
  border-bottom: 1px #000 solid;
}
.topnav-wraper .account-navbar li.active a,
.topnav-wraper .account-navbar li:hover a {
  color: #000;
}
.topnav-wraper .account-panel {
  margin: 0 auto;
  padding: 36px 0 30px;
}
.topnav-wraper .account-panel .user-info {
  overflow: hidden;
  width: 50%;
}
.topnav-wraper .account-panel .user-info .gravator {
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #878787;
  overflow: hidden;
}
.topnav-wraper .account-panel .user-info .authentication .username {
  color: #ff7800;
}
.topnav-wraper .account-panel .user-info .authentication .info {
  width: 120px;
  overflow: hidden;
  display: inline-block;
  vertical-align: -5px;
}
.topnav-wraper .account-panel .user-info .authentication .info li {
  height: 16px;
  width: 16px;
  background: url(/ccc/account/img/authentication_icon.png) 0 0 no-repeat;
  float: left;
  margin: 0 0 0 5px;
  cursor: pointer;
}
.topnav-wraper .account-panel .user-info .authentication .info li a {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.phone {
  background-position: 0 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.mail {
  background-position: -20px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.card {
  background-position: -40px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.umpay {
  background-position: -61px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.phone-gray {
  background-position: -84px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.mail-gray {
  background-position: -104px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.card-gray {
  background-position: -122px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info li.umpay-gray {
  background-position: -144px 0px;
}
.topnav-wraper .account-panel .user-info .authentication .info-tooltip-container .tooltip-arrow {
  border-top-color: #ddd;
}
.topnav-wraper .account-panel .user-info .authentication .info-tooltip-container .tooltip-inner {
  background-color: #ffffff;
  color: #878787;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px 20px;
}
.topnav-wraper .account-panel .user-info .authentication .safety {
  margin: 10px 0 0 0;
}
.topnav-wraper .account-panel .user-info .authentication .safety .risk {
  margin: 0 0 0 10px;
}
.topnav-wraper .account-panel .user-info .authentication .safety .progress {
  display: inline-block;
  width: 130px;
  margin-bottom: 0;
  height: 12px;
  border-radius: 4px;
}
.topnav-wraper .account-panel .user-info .authentication .safety .progress .progress-bar {
  background: #007ec5;
}
.topnav-wraper .account-panel .account-info {
  width: 45%;
  line-height: 50px;
}
.topnav-wraper .account-panel .account-info .currency {
  color: #ff7800;
  font-size: 30px;
  vertical-align: middle;
  font-family: 'Rounded Helvetica', Helvetica;
}
.topnav-wraper .account-panel .account-info .sum {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.topnav-wraper .account-panel .account-info .sum > span {
  font-size: 12px;
  color: #3b3b3b;
  vertical-align: middle;
}
.topnav-wraper .account-panel .account-info .button {
  display: inline-block;
  margin: -10px 0 0 0;
}
.topnav-wraper .account-panel .account-info .button p {
  margin: 10px 0 0 0;
}
.topnav-wraper .account-panel .account-info .button .btn {
  padding: 3px 20px;
}
.topnav-wraper .account-panel .account-info .button .btn-warning {
  background-color: #009ada;
  border-color: transparent;
  color: #fff;
}

.topnav-wraper .account-panel .account-info .button .btn-warning:hover{
	background-color: #015989;
}

.topnav-wraper .account-panel .account-info .coupon {
  color: #ff0700;
}
table thead th.p-tit {
  width: 30%;
}
table thead th.p-amount {
  width: 10%;
}
table thead th.p-op {
  width: 18%;
  text-align: center;
}
table thead.has-bg th {
  background-color: #DFDFDF;
  color: #555;
}
table tbody tr:last-child td {
  border-bottom: 1px solid #ddd;
}
.loan-tit {
  display: block;
  clear: both;
}
.repay-plan-wp {
  display: none;
}
.repay-plan-wp > td {
  padding: 0!important;
}
.repay-plan-wp .table thead th {
  background: #eee;
}
.has-padding th {
  padding-left: 8px!important;
  padding-right: 8px!important;
  padding-top: 8px;
    padding-bottom: 8px;
    color:#000;
}
table.table.repayments-table {
  background-color: #FBFBFB;
}
table.table.repayments-table > tbody > tr > td {
  padding: 8px;
}
.header-text {
  font-size: 17px;
  padding-top: 9px;
}
/*# sourceMappingURL=/ccc/account/css/common.css.map */