
.page-account-recharge .amount-info-wp {
  padding: 15px;
  border-radius: 3px;
  background: #f5f5f5;
}
.page-account-recharge .amount-info-wp span {
  display: inline-block;
  vertical-align: middle;
}
.page-account-recharge .amount-info-wp span em {
  font-size: 2em;
  font-style: normal;
  vertical-align: sub;
  padding-left: 10px;
}
.page-account-recharge .amount-info-wp span.split {
  padding-left: 20px;
  padding-right: 20px;
}
ul.dec-li li {
  padding: 3px 0;
}
.bankcards-wrap {
  height: auto;
  clear: both;
  overflow: auto;
}
.bankcards-wrap .bankcard-box {
  width: 300px;
  height: 160px;
  border: 1px #ddd solid;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center -6px;
}
.bankcards-wrap .bankcard-box .bankcard-no {
  margin-top: 28px;
  border-top: 1px #ddd solid;
}
.bankcards-wrap .bankcard-box .bankcard-no span {
  display: inline-block;
  padding: 15px 0;
  font-size: 18px;
  color: #888;
}
.bankcards-wrap .bankcard-box .bank-img {
  margin: 30px auto 0 auto;
}
.inputsMs {
  width: 160px;
  height: 40px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
.inputsMs:focus {
  border-color: #66afe9;
}
.sendCode {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b5a16b;
  cursor: pointer;
  border-radius: 6px;
  /*background-color: #b5a16b;*/
  float: left;
  margin-right: 10px;
  position: relative;
  left: 0px;
}
.rechargeMthod {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border-bottom: 2px #ccc solid;
  text-align: center;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}
.current {
  font-size: 16px;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.bankwrap .bankItem {
  width: 160px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  margin: 10px 10px 0 0;
}
.currentBank {
  border-width: 2px;
  border-style: solid;;
  border-color: #f0ad4e;
}

.ICBC {
  background: url(/ccc/account/img/pBanks/ICBC.jpg) no-repeat center #fff;
}

.CCB {
  background: url(/ccc/account/img/pBanks/CCB.jpg) no-repeat center #fff;
}

.ABC {
  background: url(/ccc/account/img/pBanks/ABC.jpg) no-repeat center #fff;
}
.CMB {
  background: url(/ccc/account/img/pBanks/CMB.jpg) no-repeat center #fff;
}
.BIC {
  background: url(/ccc/account/img/pBanks/BIC.jpg) no-repeat center #fff;
}
.BOC {
  background: url(/ccc/account/img/pBanks/BOC.jpg) no-repeat center #fff;
}
.CEB {
  background: url(/ccc/account/img/pBanks/CEB.jpg) no-repeat center #fff;
}
.CMBC {
  background: url(/ccc/account/img/pBanks/CMBC.jpg) no-repeat center #fff;
}
.CIB {
  background: url(/ccc/account/img/pBanks/CIB.jpg) no-repeat center #fff;
}
.CITIC {
  background: url(/ccc/account/img/pBanks/CITIC.jpg) no-repeat center #fff;
}
.CGB {
  background: url(/ccc/account/img/pBanks/CGB.jpg) no-repeat center #fff;
}

.SPDB {
  background: url(/ccc/account/img/pBanks/SPDB.jpg) no-repeat center #fff;
}
.PAB {
  background: url(/ccc/account/img/pBanks/PAB.jpg) no-repeat center #fff;
}
.HXB {
  background: url(/ccc/account/img/pBanks/HXB.jpg) no-repeat center #fff;
}
.NB {
  background: url(/ccc/account/img/pBanks/NB.jpg) no-repeat center #fff;
}
.DY {
  background: url(/ccc/account/img/pBanks/DY.jpg) no-repeat center #fff;
}
.SH {
  background: url(/ccc/account/img/pBanks/SH.jpg) no-repeat center #fff;
}
.PSBC {
  background: url(/ccc/account/img/pBanks/PSBC.jpg) no-repeat center #fff;
}
.NJ {
  background: url(/ccc/account/img/pBanks/NJ.jpg) no-repeat center #fff;
}

.SHNS {
  background: url(/ccc/account/img/pBanks/SHNS.jpg) no-repeat center #fff;
}

.CD {
  background: url(/ccc/account/img/pBanks/CD.jpg) no-repeat center #fff;
}

.BH {
  background: url(/ccc/account/img/pBanks/BH.jpg) no-repeat center #fff;
}

.BJ {
  background: url(/ccc/account/img/pBanks/BJ.jpg) no-repeat center #fff;
}
/*企业*/

.cICBC {
  background: url(/ccc/account/img/nBanks/ICBC.jpg) no-repeat center #fff;
}

.cCCB {
  background: url(/ccc/account/img/nBanks/CCB.jpg) no-repeat center #fff;
}

.cABC {
  background: url(/ccc/account/img/nBanks/ABC.jpg) no-repeat center #fff;
}
.cCMB {
  background: url(/ccc/account/img/nBanks/CMB.jpg) no-repeat center #fff;
}
.cBIC {
  background: url(/ccc/account/img/nBanks/BIC.jpg) no-repeat center #fff;
}
.cBOC {
  background: url(/ccc/account/img/nBanks/BOC.jpg) no-repeat center #fff;
}
.cCEB {
  background: url(/ccc/account/img/nBanks/CEB.jpg) no-repeat center #fff;
}
.cCMBC {
  background: url(/ccc/account/img/nBanks/CMBC.jpg) no-repeat center #fff;
}
.cCIB {
  background: url(/ccc/account/img/nBanks/CIB.jpg) no-repeat center #fff;
}
.cCITIC {
  background: url(/ccc/account/img/nBanks/CITIC.jpg) no-repeat center #fff;
}
.cCGB {
  background: url(/ccc/account/img/nBanks/CGB.jpg) no-repeat center #fff;
}

.cSPDB {
  background: url(/ccc/account/img/nBanks/SPDB.jpg) no-repeat center #fff;
}
.cPAB {
  background: url(/ccc/account/img/nBanks/PAB.jpg) no-repeat center #fff;
}
.cHXB {
  background: url(/ccc/account/img/nBanks/HXB.jpg) no-repeat center #fff;
}
.cNB {
  background: url(/ccc/account/img/nBanks/NB.jpg) no-repeat center #fff;
}
.cDY {
  background: url(/ccc/account/img/nBanks/DY.jpg) no-repeat center #fff;
}
.cSH {
  background: url(/ccc/account/img/nBanks/SH.jpg) no-repeat center #fff;
}
.cPSBC {
  background: url(/ccc/account/img/nBanks/PSBC.jpg) no-repeat center #fff;
}
.cNJ {
  background: url(/ccc/account/img/nBanks/NJ.jpg) no-repeat center #fff;
}

.cSHNS {
  background: url(/ccc/account/img/nBanks/SHNS.jpg) no-repeat center #fff;
}

.cCD {
  background: url(/ccc/account/img/nBanks/CD.jpg) no-repeat center #fff;
}

.cBH {
  background: url(/ccc/account/img/nBanks/BH.jpg) no-repeat center #fff;
}

.cBJ {
  background: url(/ccc/account/img/nBanks/BJ.jpg) no-repeat center #fff;
}

/*# sourceMappingURL=/ccc/account/css/recharge.css.map */