<div class="ccc-repay-detail-wrap">
    <p>还款明细</p>
	{{#if overDueType}}
    <table>
        <tr>
            <td>还款期数：</td>
            <td>第{{data.detail.period}}期</td>
        </tr>
        <tr>
            <td>应还本金：</td>
            <td>￥{{data.detail.Fprincipal}}</td>
        </tr>
        <tr>
            <td>应还利息：</td>
            <td>￥{{data.detail.Finterest}}</td>
        </tr>
        <tr>
            <td>还款利息管理费：</td>
            <td>￥{{data.detail.FloanFee}}</td>
        </tr>
        <tr>
            <td>借款管理费：</td>
            <td>￥{{data.detail.FmanageFee}}</td>
        </tr>
        <tr>
            <td>逾期罚金：</td>
            <td>￥{{data.penalty.Foverdue}}</td>
        </tr>
        <tr>
            <td>逾期罚息：</td>
            <td>￥{{data.penalty.Fpenalty}}</td>
        </tr>
        <tr>
            <td>金额总计：</td>
            <td>￥{{data.Ftotal}}</td>
        </tr>
    </table>
	{{else}}
    <table>
        <tr>
            <td>还款期数：</td>
            <td>第{{data.period}}期</td>
        </tr>
        <tr>
            <td>应还本金：</td>
            <td>￥{{data.Fprincipal}}</td>
        </tr>
        <tr>
            <td>应还利息：</td>
            <td>￥{{data.Finterest}}</td>
        </tr>
        <tr>
            <td>还款利息管理费：</td>
            <td>￥{{data.FloanFee}}</td>
        </tr>
        <tr>
            <td>借款管理费：</td>
            <td>￥{{data.FmanageFee}}</td>
        </tr>
        <tr>
            <td>金额总计：</td>
            <td>￥{{data.Ftotal}}</td>
        </tr>
    </table>
	{{/if}}
    <h2 class="repay-detail-bar">
		<button class="btn btn-smaller" on-click="close-detail">关闭</button>
	</h2>
</div>
