/*重置*/

#main-container{
    padding-bottom: 50px;
}

 #nav-color a, #nav-color div, #nav-color img{
     padding: 0;
     margin: 0;
	 
     color: #999;
/*	 margin-bottom: 8px;*/
 }

#nav-color a:hover{
	color: #009ada;
}

#nav-color{
  background-color: #eeeeee;
}
#nav-color .text img {
    margin-right: 10px;
}
#nav-color .s-header-info-content{
    margin: auto;
    width: 1100px;
}
#nav-color .s-header-info-content .nav-customer{
    text-align: left;
    width: 200px;
    font-size: 12px;
	
    color: #bcbcbc;
}
#nav-color .s-header-info-content .nav-help{
 float: right;
    color: #777777;
    font-size: 12px;
}
#nav-color .s-header-info-content .nav-mobile{
 float: right;
    color: #777777;
    font-size: 12px;
}
#nav-color .s-header-info-content .nav-mobile img{
 margin-right: 10px;
}
#nav-color .s-header-info-content .nav-weibo{
    margin-right: 10px;
    margin-top: -8px;
}
#nav-color .s-header-info-content .nav-customer img{
 margin-left: 10px;
}

.s-header-info-content .nav-aboutus{
     text-align: left;
    width: 96px;
    font-size: 12px;
	
     color: #999;
}

#dingbuzhuce{
    color: #777777;
    font-size: 12px;
}
#dingbudenglu{
    color: #777777;
    font-size: 12px;
}
#nav-help{
    color: #777777;
    font-size: 12px;
}
#mobileCustomer{
    color:#777777;
}
#nav-color .nav-fastlogin{
    width: 54px;
    float: right;
/*    margin-right: 22px;*/
}
#nav-color .nav-fastlogin img{
    margin:0;
    padding: 0;
    margin-top: 10px;
}
#nav-color .nav-fastregister{
    width: 62px;
    float: right;
/*      margin-right: 22px;*/
    font-size:12px;
}
#nav-color .nav-fastregister img{
    margin:0;
    padding: 0;
    margin-top: 10px;
}

.box-pic{
    position: relative;
    height: 103px;
}
.top-bg{
    position: absolute;
    left: 50%;
    margin-left:-960px;
   
}
#footer-color-box{
   background:#6c6c6c;
    
}

#footer-color-box .footerBox{
    width: 1100px;
    margin: auto;
}


#footer-color a{
    color: #bcbcbc;
}
.ssfooter{
    margin-top:25px;
  
}
.footer-guide dd{
/*    margin-top: 14px;*/
    color:#777;
    font-size: 14px;
    line-height: 24px;
    margin-left: 42px;
    
}
.bottom-bg{
    float:left;
    margin-left: 100px;
    margin-top: 25px;
}
.footer-guide{
    float: left;
    margin-right:102px;
    margin-top:12px;
    margin-bottom: 90px;
}
.footer-guide dt{
      font-size: 18px;
    color:#4a4a4a;
    line-height: 18px;
    margin-bottom: 20px;
    
}

.footer-guide dt img{
  margin-right: 10px;
    margin-top: -8px;
}

.s-footer #footer-color{
    height:220px;
    width: 1100px;
    margin: 0;
    border: none;
    overflow: hidden;
	background-color: #6c6c6c;
   
}
.bottom-left{
    float:left;
    margin-right:0px;
    margin-right: 102px;
}
.bottom-right-service{
    font-size: 18px;
    color:#4a4a4a;
/*    line-height: 14px;*/
/*    margin-top: 5px;*/
}

.bottom-right-service img{
    margin-right: 10px;
}

.bottom-right-service .telNum{
    color: #bcbcbc;
    font-size: 26px;
    margin-left: 20px;
}

.bottom-right-tel{
     font-size: 30px;
    color:#ff6e00;
    line-height: 30px;
    margin-top: 30px;
}
.bottom-right-tel span{
     font-size: 14px;
    color:#666666;
    margin-left: 14px;
}
.bottom-right-mail{
/*    float: left;*/
    color:#bcbcbc;
    font-size: 14px;
      line-height: 14px;
    margin-top: 20px;
    margin-left: 46px;
}

.bottom-right-aboutus{
    margin-left: 46px;
    color: #777;
    font-size: 14px;
}
.bottom-right-aboutus img{
    margin-right: 4px;

}

.bottom-right-online{

    color:#bcbcbc;
    font-size: 14px;
    margin-left: 46px;
	margin-top: 17px;
}
.bottom-right-online img{
/*    margin-left: 8px;*/
}
.bottom-right-icon img{
    margin-top: 22px;
    margin-left: 24px;
}
.firend-link{
    background: #5d6163;
}
.firend-link div{
    width:1000px;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 22px;
}
.firend-link span{
    font-size: 16px;
    color:#999999;
    line-height:16px;
    margin-top: 22px;
    margin-left: -180px;
}
.firend-link div a{
    color:#999999;
    font-size: 12px;
    margin-right:14px;
}
.bottom-footer{
    width:1100px;
    margin: auto;
}
.bottom-footer{
    text-align: center;
    height: 80px;
}

.bottom-footer .copyright{
    font-size: 14px;
    color: #bcbcbc;
    line-height: 14px;
    margin-top: 22px;
    margin-bottom: 22px;
    float: left;
    margin-left: 20px;
}

.bottom-footer img{
    margin-bottom: 30px;
}
.bottom-footer-box{
    background-color: #6c6c6c;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #ddd;
}

.bottom-footer-right img{
    margin-right:24px;
    margin-top: 32px;
}
#menu .u-nolist-ul li:hover a {
  /*background: #ededed;*/
  height: 74px;
  border-bottom: 3px solid #009ada;
  color: #009ada;
  text-decoration: none;
}
#menu{
    font-size: 18px;
    height: 100px
}
#menu .s-header-menu-content .u-nolist-ul{
    line-height: 100px;
    float: right;
   
}
#menu .s-header-menu-content{
    width: 1100px;
}


#family{
    float: right;
    width: 180px;
   
 margin-left: 24px;
    margin-top: 32px;
    position: relative;
    z-index: 1;
}
#family p{
        color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    line-height: 32px;
     width: 180px;
    height: 32px;
    padding-left: 24px;
}
#family li{
      height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
/*  padding-left: 34px;*/
    font-size: 12px;
    text-align: center;
}
#family a{
    color: #6f6f6f;
    font-weight: normal;
    font-size: 12px;
}
#family ul{
    width:180px;
    position:absolute;
    top:34px;
    left:0;
    background:#fff;
    border:1px solid #eee;
    border-bottom:none;
    display:none;
    z-index: 9999;
}

#menu s__is-selected{
    color:#333333;
    font-size: 18px;
    line-height: 84px;
}
#nav-color .s-header-menu-content .s-icon {
    margin-top:0;
}
.s-header-menu-content u-pos-r-center a{
     margin-top:10px;
}
#s-header-height{
    height:140px;
/*    overflow: hidden;*/
}

.side-bar{
    width: 65px;
    float: right;
 
}
.weixin-side{
    float: left;
    margin-top: 180px;
}
.side-bar-box{
      position: fixed;
    right:0;
    top:45%; 
    width:40px;
}
.side-bar img{
    margin-bottom: 2px;
}
.carousel-control{
    width: 0;
}
.carousel-control.left{
    background-image: none;
}
.carousel-control.left img{
/*    margin-left: -70px;*/
    position: absolute;
}
.carousel-control.right{
    background-image: none;
}
.carousel-control.right img{
    margin-left: -42px;
     position: absolute;
}

#menu .navactive{
  height: 74px;
  border-bottom: 3px solid #009ada! important;
  color: #009ada;
  text-decoration: none;
}
.bottom-right{
    float: right;
    height:126px;
/*    margin-right: 50px;*/
    }
.bottom-right .bottom-rightApp{
    float: left;
/*    margin-right: 24px;*/
    color:#4a4a4a;
    font-size: 14px;
    line-height: 26px;
    height:126px;
}
.bottom-right .bottom-rightApp img{
     width:110px;
    height:110px;
}


/*计算器*/
.cc-calculator-wp{padding: 0 27px 30px 24px;}
.cc-calculator-wp .position{height: 1px;background-color: #e1e1e1;margin-bottom: 50px;margin-top: 32px;position: relative;}
.cc-calculator-wp .position img{position: absolute;left: 0;top: -17px;}
.cc-calculator-wp .row{}
.cc-calculator-wp .row .col-md-4{}
.cc-calculator-wp .row .col-md-4 form .form-group{overflow:hidden;margin-bottom: 20px;}
.cc-calculator-wp .row .col-md-4 form .form-group label{float: left;}
.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-8{float: left;border: 1px solid #d7d7d9;padding: 0;height: 41px;width: 178px;}
.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-8 input{float: left;width: 80%;border: 0;height: 38px;}
.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-8 span{float: left;line-height: 40px;color: #d0d1d5;}
.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-8 .form-control{border: 0;}

.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-offset-4{border: 0;}
.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-offset-4 .btn-orange{background-color: #86d2a1;float: left;border:0;width: 52%;border: 0;}
.cc-calculator-wp .row .col-md-4 form .form-group .col-sm-offset-4 .reset{background-color: #cad2d5;float: right;border:0;width: 40%;color: #fff;height: 32px;border-radius: 4px;}

.cc-calculator-wp .row .col-md-8{border: 1px solid #dedfe3;float: right;padding: 0;margin-left: 20px;}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box{}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent{overflow: hidden;background-color: #f3f4f6;}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent div{float: left;line-height: 31px;text-align: center;}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent div:nth-child(1){}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent div:nth-child(2){}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent div:nth-child(3){}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent div:nth-child(4){}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .tdContent div:nth-child(5){}

.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .cc-table-container{}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .hide{}
.cc-calculator-wp .row .col-md-8 .cc-cal-results-box .hide #tdContent .cc-total-tr-b .ccc-f{background-color: #f3f4f6;border-top: 1px solid #e0e0e2;padding-left: 15px;line-height: 35px;}
.cc-calculator-wp .row .col-md-8 .cc-total{text-align: center;border-top: 1px solid #e0e0e2;}
.cc-calculator-wp .row .col-md-8 .cc-total span{line-height: 38px;}
.cc-calculator-wp .calculator-line{
    width:650px;height:1px;background: #e0e0e2;float: left;margin-left: 10px;margin-top: 18px;
}
.cc-calculator-wp .calculator-title .calculator-title-left{float: left;}
.cc-calculator-wp .calculator-title{
    height:35px;margin-bottom: 10px;
}

/*导航微信二维码*/
#nav-color .s-header-info-content u-pos-r-center{
    position: relative;
}
#nav-color .erweima {
    position: absolute;
    left:27%;
    top:56%;
   /*    z-index: 10;*/
    display: none;
    width:116px;height:116px;
 }
/*导航大家庭*/
.s-header-info-content span {
  display: inline-block;
  margin: 3px 5px;
  line-height: 23px;
  width: 24px;
  text-align: center;
	color: #bcbcbc;
}
/*nav*/
#nav-color #head-ractive-container{
/*    width: 200px; */
    text-align: right; padding-right: 10px;color:#009ada;
}
li a {
/*
    color: #666;
    text-decoration: none;
*/
     width: auto; 
    display: inline-block;
    text-align: center;
    font-weight: bold;
	font-size: 16px;
	font-weight: normal;
	color: #4a4a4a;
    height:100%;
	font-family: '微软雅黑';
	text-decoration: none !important;
}
.s-header-menu-content .u-nolist-ul li {
    margin-left: 24px;
    cursor: pointer;
}


.text-p{
	text-align: center;	
	color: #bcbcbc;
}

.s-footer-nav *{
	font-family:"微软雅黑";
}

.bottom-right-aboutus-box{
	overflow: hidden;
	height: 124px;
}

.bottom-right-aboutus-box p{
	float: left;
	margin-top: 15px;
	color: #bcbcbc;
}

.bottom-right-aboutus-box .erweima{
	float: right;
	margin-right: 40px;
	display: none;
	width: 80px;
	height: 80px;
}

input[type=button]{
    cursor:pointer !important;
}
.bottom-footer .footer-360{
    width:100px;
    margin-left: 20px;

}
.s-footer .s-footer-nav .s-footer-nav-content {
    position: relative;
    padding-top: 30px;
}
.btn-success:hover{
    background: #df6502;
    color: white;
    border-color:#df6502;
    font-size: 16px;
}
.btn-success{
   background-color: #f58220;
    border-color:#f58220;
    font-size: 16px;
    line-height: 34px;
    width: 80px;
    padding: 0;
}
.btn-confirm-cancel{
    background: #d3d3d3;
    color: white;
    font-size: 16px;
     line-height: 34px;
    width: 80px;
    padding: 0;
}
.btn-confirm-cancel:hover{
    color:white;
    background: gray;
}