
<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/coupon.css">
<div class="account-wraper">
    <div class="space-40"></div>
    <div class="account-container">
        <div class="account-nav"></div>
        <div class="account-content-wrapper">
            <div class="has-line hasLine">
                <div class="row ccc-container coupon-content">
                    <div class="col-md-12">
                        <div class="ccc-tab pull-left coupon-nav-view" data-header-selector=".header-text">
<!--							<p class="selectTitle">红包类型:</p>-->
                            <ul class="ttabs">
<!--                                <li class="active" data-type=""><a href="#">全部</a></li>-->
                                <li data-type="PLACED" class="active"><a href="#" rel="nofollow" >未使用</a></li>
                                <li data-type="USED"><a href="#" rel="nofollow" >审核中</a></li>
                                <li data-type="REDEEMED"><a href="#" rel="nofollow" >已使用</a></li>
                                <li data-type="EXPIRED"><a href="#" rel="nofollow" >已过期</a></li>
<!--
                                  <li  data-type="CASH"><a href="#">现金券</a></li>
                                 <li data-type="PRINCIPAL"><a href="#">增值券</a></li> 
-->	
                            </ul>
                            <a href="https://www.qilerong.com/cms/p/69589DAF-0058-4585-8A17-8496C4FE0ACB"><span class="coupon-rule">红包使用规则<img src="/ccc/newAccount/img/why.png"/></span></a>
                        </div>
<!--
						<div class="ccc-tab pull-left coupon-nav-view" data-header-selector=".header-text">
							<p class="selectTitle">使用情况:</p>
                            <ul class="stabs">
                                <li class="active" data-status="ALL"><a href="#">全部</a></li>
								<li data-status="PLACED"><a href="#">未使用</a></li>
                                <li data-status="REDEEMED"><a href="#">已使用</a></li>
                                <li data-status="EXPIRED"><a href="#">已过期</a></li>      
                            </ul>
                        </div>
-->
                    </div>
                </div>
            </div>
<!--            <div class="space space-30"></div>-->
            <div class="ccc-container row coupon-content-detail">
                <div class="col-md-12 ccc-loan-wrap">
                	<div class="ccc-tab-panels">
                        <div class="tab-panel panel-PLACED active">
                        <p class="loading">加载中...</p>
                        </div>
                        <div class="tab-panel panel-USED"></div>
                        <div class="tab-panel panel-REDEEMED "></div>	
                        <div class="tab-panel panel-EXPIRED"></div>
<!--
                		<div class="tab-panel panel-REBATE "></div>			
                		<div class="tab-panel panel-PRINCIPAL"></div>  		
-->
                	</div>
                </div>
            </div>
            <div class="space-40"></div>
            <div id="coupon-pager" style="text-align:center"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="space space-50">&nbsp;</div>

<script src="/ccc/newAccount/js/main/common.js"></script>
<script src="/ccc/newAccount/js/main/coupon.js"></script>

