<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/fund.css">
<div class="account-wrapper">
    <div class="space-40"></div>
    <div class="account-container">
        <div class="account-nav"></div>
        <div class="account-content-wrapper">
            <div class="space-30"></div>
            <div class="fund-content">
   
            </div>

            <div class="space-30"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="space space-50">&nbsp;</div>
<script>
    var name='{{urlname}}';
    console.log(name);
   CC.loanl={
       urlname:name
   };
</script>
<script src="/ccc/newAccount/js/main/common.js"></script>
<script src="/ccc/newAccount/js/main/fund.js"></script>