<link rel="stylesheet" href="/ccc/newAccount/css/common.css">
<link rel="stylesheet" href="/ccc/newAccount/css/invest.css">
<div class="account-wrapper">
	<div class="space-40"></div>
	<div class="account-container">
		<div class="account-nav"></div>
		<div class="account-content-wrapper">
			<div class="space-30"></div>
			<div class="account-content account-invest-wrapper">
				<div class="ccc-tab-panels">
            		<div class="tab-panel panel-invest active">
            			<p class="loading">加载中...</p>
            		</div>
      
            	</div>
			</div>
			<div class="space-30"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="space space-50">&nbsp;</div>

<script src="/ccc/newAccount/js/main/common.js"></script>
<script src="/ccc/newAccount/js/main/invest.js"></script>
