#main-container{
    background: #f6f8fc;
    position: relative;
}
.fund-content {
    height: auto;
    width: 840px;
    margin-bottom: 33px;
	margin-left: 40px;
}

.fund-content .fund-nav-view {
    position: relative;
    height: auto;
    width: 840px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #ccc;
}

.fund-content .fund-nav-view .sDuration {
    padding: 10px 0;
    overflow: hidden;
}
.fund-content .fund-nav-view .sRate {
    padding: 10px 0;
    height:50px;
}
.fund-content .fund-nav-view .sRate .personal{
  width: 50px;
    text-align: center;
/*    color: #6d6c6c;*/
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 35px;
}
.fund-content .fund-nav-view .sRate .personal-big{
    width: 100px;
}
.fund-content .fund-nav-view ul .selectTitle{
	width: 100px;
	color: #4a4a4a;
	float: left;
}
.fund-content .fund-nav-view ul .select-brame{
	color: #000;
	float: left;
    width: 400px;
    margin-top: -6px;
}



.fund-content .fund-nav-view .sDuration li {
    width: 50px;
    text-align: center;
    color: #6d6c6c;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 35px;
}

.fund-content .fund-nav-view ul li:hover,
.fund-content .fund-nav-view ul .s__is-selected{
    background-color: #009ada;
    color: white;
	border-radius: 4px;
}

.fund-content .fund-nav-view ul .get-cash{
    width:70px;
}
.fund-content table {
    width: 840px;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    margin-top: 30px;
}
.fund-content table th {
    background-color: #eeeeee;
    color: #4a4a4a;
    height: 40px;
    text-align: center;
    font-size: 14px;
}
.select-brame .date-from-picker .icon-calendar {
    cursor: pointer;
    background: url(/ccc/newAccount/img/calendar.png) #fff center no-repeat;
}
.select-brame .date-to-picker .icon-calendar {
    cursor: pointer;
    background: url(/ccc/newAccount/img/calendar.png) #fff center no-repeat;
}
.select-brame .input-group{
    width:125px;
}

.select-brame .input-group input{
	padding: 0;
	padding-left: 10px;
}

.select-brame .form-control{
    background: #fff;
    border-right:none;
}
.select-brame .btn-blue{
 background-color: #009ada;
 position: relative;
 top: 1px;
 left: 10px;
    color: #fff;
    margin-left: 10px;
    margin-top: 4px;
    height: 24px;
}
.select-brame .spliter{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 26px;   
}
/*企业用户*/
.dropdown{
    width: 220px;
}
.dropdown-menu {
/*
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
*/
    display: none;
/*    float: left;*/
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
	text-align: left;

}
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu > li > a{
    font-size: 14px;
	text-align: left;
}