* {
	font-family: '微软雅黑';
}
.userinfowra {
	width: 100%;
	height: 160px;
	background: url(/ccc/newAccount/img/topbg.png) no-repeat center;
    background-color:#78dffe;
	
}
.home-topnav {
	height: 147px;
	border-bottom: 1px #cccccc solid;
}
.home-top-container {
	height: 80px;
}
.home-interest {
	height: 100%;
	width: 239px;
	float: left;
	color: #f58220;
	border-right: 1px #ccc solid;
}
.home-total {
	height: 100%;
	width: 390px;
	float: left;
}
.home-avaliable {
	height: 100%;
	width: 239px;
	float: left;
	border-left: 1px #ccc solid;
}
.home-top-container .home-tab-amount {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: '微软雅黑';
	font-size: 36px;
}
.home-top-container .home-tab-info {
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #4a4a4a;
}
.home-recharge-btn {
	float: right;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	background-color: #f58220;
	border: 1px #f58220 solid;
}
.home-recharge-btn:hover{
    background:#df6502;
}
.home-withdraw-btn {
	float: right;
	margin-right: 30px;
	margin-left: 20px;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: #f58220;
	font-size: 16px;
	border: 1px #f58220 solid;
	background-color: #fff;
}
.home-withdraw-btn:hover{
    background: #f58220;
    color: #fff;
}
.home-invest-top-wrapper {
	height: 36px;
}
.home-invest-top {
	width: 130px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #4a4a4a;
	font-size: 18px;
	border-bottom: 3px #009ada solid;
}
.repay-plan-wp {
	display: none;
}
.home-invest-container table thead tr{
	height: 50px;
	background-color: #f5f4f9;
}
.home-invest-container table thead tr th {
	color: #4a4a4a;
	border: none!important;
	font-size: 14px;
}
.home-invest-container table tbody tr {
	height: 72px;
	border-top: none;
}
.home-invest-container table tbody tr td {
	border-top: none;
	font-size: 14px;
	color: #4a4a4a;
	border-bottom: 1px #eeeeee solid;
}
.loan-tit {
	display: block;
	color: #4a4a4a;
	margin-right:5px;
}
.infoContent {
	width: 1000px;
	height: 160px;
	padding: 5px 0;
	margin: 0 auto;
	position: relative;
}
.tx {
	width: 100px;
	height: 100px;
	background: url(/ccc/newAccount/img/txn.png) no-repeat center #fff;
	border-radius: 50%;
      margin-left: 25px;
}
.name {
	height: 55px;
	width: 145px;
	line-height: 55px;
	color: #4a4a4a;
	font-size: 20px;
	text-align: center;
}
.info {
	width: 145px;
	float: left;
  
}
.credit {
	float: left;
	width: 500px; 
/*	position: absolute;*/
	left: 17%;
}
.credit .doCredit {
	padding-top: 25px;
	position: relative;
	overflow: hidden;
}

.credit .doCredit li{
	float: left;
	margin-right: 3%;
}

.credit .doCredit .info-tip{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	color: white;
	line-height: 24px;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	opacity: 0.7;
}

.credit .doCredit a{
/*
	display: inline-block;
	width: 65px;
	height: 80px;
*/
}

.credit .EdiT {
	height: 70px;
	position: relative;
}
.rzpa {
	display:block;
	width: 50px;
	height: 50px;
/*
	margin-right: 15px;
	margin-top: 25px;
*/
}
.cmo-active {
	background: url(/ccc/newAccount/img/phone.png) no-repeat center;
}
.cid-active {
	background: url(/ccc/newAccount/img/ID-active.png) no-repeat center;
}
.cpass-active {
	background: url(/ccc/newAccount/img/pass-active.png) no-repeat center;
}
.cpass {
	background: url(/ccc/newAccount/img/pass.png) no-repeat center;
}
.ccr-active {
	background: url(/ccc/newAccount/img/card-active.png) no-repeat center;
}
.cem-active {
	background: url(/ccc/newAccount/img/email-active.png) no-repeat center;
}
.cmo {
	background: url(/ccc/newAccount/img/phone_gray.png) no-repeat center;
}
.cid {
	background: url(/ccc/newAccount/img/ID.png) no-repeat center;
}
.ccr { 
	background: url(/ccc/newAccount/img/card.png) no-repeat center;
}
.cem {
	background: url(/ccc/newAccount/img/email.png) no-repeat center;
}
.level {
	float: left;
	line-height: 60px;
	/*width: 170px;*/
	font-size: 14px;
	color: #4a4a4a;
	margin-right: 20px;
}
.lev {
	color: #f58220;
	font-size: 17px;
	font-weight: normal;
	/*font-style: oblique;*/
	cursor: pointer;
}
.safe {
	float: left;
	line-height: 60px;
	width: 180px;
}
.safety {
	color: #4a4a4a;
	font-size: 14px;
}
.progress {
	display: inline-block;
	height: 10px;
	width: 80px;
	border-radius: 5px;
	margin-bottom: 0;
	margin-right: 5px;
}
.progress-bar {
	background: #f58220;
}
.risk {
	display: inline-block;
}
.wh {
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url(/ccc/newAccount/img/wh.png) no-repeat center;
	position: relative;
	top: 5px;
	left: 2px;
	cursor: pointer;
}
.money {
	font-size: 24px;
}
.home-total .home-tab-amount .more-amount{
    font-size: 24px;
}
.home-avaliable .home-tab-amount .more-amount{
    font-size: 24px;
}
.home-interest .home-tab-amount .more-amount{
    font-size: 24px;
}
.tooltip {
	width: 300px!important;
}
