.bankItem {
	width: 140px;
	height: 58px;
	display: inline-block;
	border: 1px #cccccc solid;
	margin-right: 31px;
	margin-bottom: 20px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.currentBank {
	border: 1px #f58220 solid;
}
.row {
	margin: 0;
	position: relative;
	left: 20px;
}
.tipss,.ava {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #999999;
	font-size: 14px;
	margin-right: 50px;
	font-family: "Arial";
}
.ava {
	color: #f58220;
	font-size: 20px;
	margin-right: 5px;
}
.line {
	border-bottom: 1px #ccc solid;
}
.methodwr {
	color: #4a4a4a;
	font-size: 14px;
}
.dec-li li {
	color: #999999;
	font-size: 14px;
  text-align: left;
}
.check {
	z-index: 99;
	display: none;
	position: absolute;
	left: -1px;
	width: 19px;
	height: 22px;
	background: url(/ccc/newAccount/img/checka.png) no-repeat center;
	top: -1px;
}
.more {
	display: inline-block;
	height: 58px;
	width: 140px;
	background: url(/ccc/newAccount/img/more.png) no-repeat center;
	border: none;
}
.llzf {
	background: url(/ccc/newAccount/img/llzf.png) no-repeat center #fff;
}
.ICBC {
  background: url(/ccc/account/img/pBanks/ICBC.jpg) no-repeat center #fff;
}

.CCB {
  background: url(/ccc/account/img/pBanks/CCB.jpg) no-repeat center #fff;
}

.ABC {
  background: url(/ccc/account/img/pBanks/ABC.jpg) no-repeat center #fff;
}
.CMB {
  background: url(/ccc/account/img/pBanks/CMB.jpg) no-repeat center #fff;
}
.BIC {
  background: url(/ccc/account/img/pBanks/BIC.jpg) no-repeat center #fff;
}
.BOC {
  background: url(/ccc/account/img/pBanks/BOC.jpg) no-repeat center #fff;
}
.CEB {
  background: url(/ccc/account/img/pBanks/CEB.jpg) no-repeat center #fff;
}
.CMBC {
  background: url(/ccc/account/img/pBanks/CMBC.jpg) no-repeat center #fff;
}
.CIB {
  background: url(/ccc/account/img/pBanks/CIB.jpg) no-repeat center #fff;
}
.CITIC {
  background: url(/ccc/account/img/pBanks/CITIC.jpg) no-repeat center #fff;
}
.CGB {
  background: url(/ccc/account/img/pBanks/CGB.jpg) no-repeat center #fff;
}

.SPDB {
  background: url(/ccc/account/img/pBanks/SPDB.jpg) no-repeat center #fff;
}
.PAB {
  background: url(/ccc/account/img/pBanks/PAB.jpg) no-repeat center #fff;
}
.HXB {
  background: url(/ccc/account/img/pBanks/HXB.jpg) no-repeat center #fff;
}
.NB {
  background: url(/ccc/account/img/pBanks/NB.jpg) no-repeat center #fff;
}
.DY {
  background: url(/ccc/account/img/pBanks/DY.jpg) no-repeat center #fff;
}
.SH {
  background: url(/ccc/account/img/pBanks/SH.jpg) no-repeat center #fff;
}
.PSBC {
  background: url(/ccc/account/img/pBanks/PSBC.jpg) no-repeat center #fff;
}
.NJ {
  background: url(/ccc/account/img/pBanks/NJ.jpg) no-repeat center #fff;
}

.SHNS {
  background: url(/ccc/account/img/pBanks/SHNS.jpg) no-repeat center #fff;
}

.CD {
  background: url(/ccc/account/img/pBanks/CD.jpg) no-repeat center #fff;
}

.BH {
  background: url(/ccc/account/img/pBanks/BH.jpg) no-repeat center #fff;
}

.BJ {
  background: url(/ccc/account/img/pBanks/BJ.jpg) no-repeat center #fff;
}
/*企业*/

.cICBC {
  background: url(/ccc/account/img/nBanks/ICBC.jpg) no-repeat center #fff;
}

.cCCB {
  background: url(/ccc/account/img/nBanks/CCB.jpg) no-repeat center #fff;
}

.cABC {
  background: url(/ccc/account/img/nBanks/ABC.jpg) no-repeat center #fff;
}
.cCMB {
  background: url(/ccc/account/img/nBanks/CMB.jpg) no-repeat center #fff;
}
.cBIC {
  background: url(/ccc/account/img/nBanks/BIC.jpg) no-repeat center #fff;
}
.cBOC {
  background: url(/ccc/account/img/nBanks/BOC.jpg) no-repeat center #fff;
}
.cCEB {
  background: url(/ccc/account/img/nBanks/CEB.jpg) no-repeat center #fff;
}
.cCMBC {
  background: url(/ccc/account/img/nBanks/CMBC.jpg) no-repeat center #fff;
}
.cCIB {
  background: url(/ccc/account/img/nBanks/CIB.jpg) no-repeat center #fff;
}
.cCITIC {
  background: url(/ccc/account/img/nBanks/CITIC.jpg) no-repeat center #fff;
}
.cCGB {
  background: url(/ccc/account/img/nBanks/CGB.jpg) no-repeat center #fff;
}

.cSPDB {
  background: url(/ccc/account/img/nBanks/SPDB.jpg) no-repeat center #fff;
}
.cPAB {
  background: url(/ccc/account/img/nBanks/PAB.jpg) no-repeat center #fff;
}
.cHXB {
  background: url(/ccc/account/img/nBanks/HXB.jpg) no-repeat center #fff;
}
.cNB {
  background: url(/ccc/account/img/nBanks/NB.jpg) no-repeat center #fff;
}
.cDY {
  background: url(/ccc/account/img/nBanks/DY.jpg) no-repeat center #fff;
}
.cSH {
  background: url(/ccc/account/img/nBanks/SH.jpg) no-repeat center #fff;
}
.cPSBC {
  background: url(/ccc/account/img/nBanks/PSBC.jpg) no-repeat center #fff;
}
.cNJ {
  background: url(/ccc/account/img/nBanks/NJ.jpg) no-repeat center #fff;
}

.cSHNS {
  background: url(/ccc/account/img/nBanks/SHNS.jpg) no-repeat center #fff;
}

.cCD {
  background: url(/ccc/account/img/nBanks/CD.jpg) no-repeat center #fff;
}

.cBH {
  background: url(/ccc/account/img/nBanks/BH.jpg) no-repeat center #fff;
}

.cBJ {
  background: url(/ccc/account/img/nBanks/BJ.jpg) no-repeat center #fff;
}
table.tinfo {
  width: 850px;
  margin: 0 auto;
  border-color: #cccccc;
}
table.tinfo td,th {
  border: 1px;
  border-style: solid;
  border-color: #cccccc;
  color: #999999;
}
table.tinfo th,tr,td,div {
  border-color: #cccccc;
  color: #999999;
}
table.tinfo div {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px #cccccc solid;
}
th,td {
  text-align: center;
}
table.tinfo tbody tr {
  display: none;
}
.btn-success{
   background-color: #f58220;
    border-color:#f58220;
}
.btn-success:hover{
    font-size: 16px;
}
.btn-confirm-cancel{
    background: #d3d3d3;
    color: white;
}