.ftips {
	text-align: center;
	color: #4a4a4a;
	font-size: 14px;
}
.account-opened-wrapper {
	width: 400px;
	margin: 0 auto;
}
.account-info-row {
	height: 70px;
}
#main-container .label {
	height: 70px;
	line-height: 70px;
	
}
.value {
	width: 310px;
	height: 45px;
	line-height: 45px;
	text-indent: 20px;
	display: inline-block;
	border-radius: 5px;
}
p.tips {
	color: #999999;
}
.error-message {
	text-align: center;
	color: red;
	padding: 10px 0;
}
.form-control_set {
	height: 45px;
	line-height: 45px;
	position: relative;
	top: 20px;
}
.sendCode {
  height: 30px;
  width: 90px;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border: 1px #009ada solid;
  color: #009ada;
  border-radius: 5px;
  position: relative;
  top: 1px;
  font-size: 12px;
}
.isAu {
	margin-left: 180px;
}
.account-password-tab {
	height: 30px;
	border-bottom: 1px #cccccc solid;
}
.passTab {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999999;
	cursor: pointer;
	font-size: 18px;
}
.PassTabActive {
	color: #4a4a4a;
	border-bottom: 2px #009ada solid;
}
.updateWra,.resetWra,.formwra {
	text-align: center;
}
#main-container .row {
	margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.row .payInp {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	text-indent: 10px;
	border: 1px #cccccc solid;
}
.row .tipss {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 80px;
	font-size: 14px;
	text-align: left;
	color: #4a4a4a;
}
.row .error {
	text-align: center;
	color: red;
}
.btn-update {
	width: 200px;
	background-color: #009ada;
	border: 1px #009ada solid;
	font-size: 18px;
	height: 40px;
	margin: 0 auto;
	color: #fff;
	font-weight: normal;
	line-height: 40px;
	border-radius: 5px;
  cursor: pointer;
}
.btn-update:hover {
	color: #fff;
    background: #0287be;
}
.tabwra .tab li {
	cursor: pointer;
}
.tabwra .tab .active {
	color: #009ada;
	font-size: 16px;
}
.modify-password-wrapper {
	width: 400px;
	margin: 0 auto;
  position: relative;
  left: 60px;
}
.cap {
	width: 70px;
	/* height: 12px; */
	padding: 4px 0px;
	display: inline-block;
	position: relative;
	right: 7px;
}
.errorMessage {
	margin:10px 0;
	color: red;
	text-indent: 70px;
}
/*bank*/
.bank-card {
	width: 305px;
	height: 170px;
	border: 1px #eeeeee solid;
	border-radius: 5px;
	margin: 0 auto;
}
.card-img {
	width: 100%;
	height: 120px;
}
.card-num {
	text-align: center;
	font-size: 14px;
	color: #4a4a4a;
}
.btn-change-card,.btn-change-card:hover {
	width: 150px;
	background-color: #009ada;
	border-color: #009ada;
    font-size: 16px;
}
.btn-change-card:hover{
    background-color: #0287be;
}
.descript p {
	color: #999999;
	font-size: 14px;
	text-align: left;
	padding: 2px 0;
}
.select {
	width: 200px;
	font-size: 16px;
  height: 30px;
    font-weight: bold;
}
.ABC {
  background-image: url(/ccc/global/img/banks/ABC.png);
}
.BCCB {
  background-image: url(/ccc/global/img/banks/BCCB.png);
}
.CCB {
  background-image: url(/ccc/global/img/banks/CCB.png);
}
.CIB {
  background-image: url(/ccc/global/img/banks/CIB.png);
}
.CMBC {
  background-image: url(/ccc/global/img/banks/CMBC.png);
}
.CMB {
  background-image: url(/ccc/global/img/banks/CMB.png);
}
.SPDB {
  background-image: url(/ccc/global/img/banks/SPDB.png);
}
.ICBC {
  background-image: url(/ccc/global/img/banks/ICBC.png);
}
.BOCOM {
  background-image: url(/ccc/global/img/banks/BOCOM.png);
}
.CEB {
  background-image: url(/ccc/global/img/banks/CEB.png);
}
.BOC {
  background-image: url(/ccc/global/img/banks/BOC.png);
}
.SRCB {
  background-image: url(/ccc/global/img/banks/SRCB.png);
}
.HXB {
  background-image: url(/ccc/global/img/banks/HXB.png);
}
.HKBEA {
  background-image: url(/ccc/global/img/banks/HKBEA.png);
}
.WZCB {
  background-image: url(/ccc/global/img/banks/WZCB.png);
}
.PSBC {
  background-image: url(/ccc/global/img/banks/PSBC.png);
}
.PINGAN {
  background-image: url(/ccc/global/img/banks/pingan.png);
}
/*个人信息*/
.account-userInfo-wrapper {
  position: relative;
  min-height: 600px;
}
.account-userInfo-wrapper .img-wrapper {
  position: absolute;
  bottom: 10px;
  right:20px;
  width:200px;
}
.img-wrapperau {
  margin: 0 auto;
  width: 840px;
  height: 240px;
  margin-top: 40px;
  background: url(/ccc/newAccount/img/sm.png) no-repeat center right;
}
.img-wrapperbn {
  margin: 0 auto;
  width: 840px;
  height: 240px;
  margin-top: 40px;
  background: url(/ccc/newAccount/img/visa.png) no-repeat center right;
}
.img-wrapperps {
  margin: 0 auto;
  width: 840px;
  height: 240px;
  margin-top: 40px;
  background: url(/ccc/newAccount/img/lock.png) no-repeat center right;
}
.account-userInfo-wrapper .img-wrapper img {
  width:100%;
}
.account-userInfo-tabs {
  height: 30px;
  border-bottom: 1px #cccccc solid;
}
.userInfo-tab {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 30px;
  color: #999999;
  cursor: pointer;
  line-height: 27px;
  font-size: 18px;
}
.tab-active {
  color: #434546;
  border-bottom: 2px #009ada solid;
}
.safety-wrapper {
  position:relative;
  border-left:1px #cccccc solid;
  width:600px;
  margin:auto;
  padding-left:50px;
  height:250px;
}
.level-wrapper {
  margin:30px;
  position:relative;
}
.safetyLevel {
  position: absolute;
  background:#F58220;
  width:70px;
  height:70px;
  border-radius: 100px;
  top:-15px;
  left:70px;
  overflow: hidden;
  line-height: 70px;
  box-shadow: 1px 1px 5px grey;
}
.levelBar {
  position: absolute;
  width:70px;
  height:75%;
  background:rgb(251, 236, 225);
}
.level-info{
  z-index:10;
  position: absolute;
  font-size: 20px;
  left:26px;
}
.safety-wrapper .table tr th {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #005387;
  text-align: center;
}
.safety-wrapper .table tr td {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  border:none;
  position: relative;
}
.safety-wrapper .table tr td .glyphicon {
  color: #FAFBF8;
  background-color: #0D9A95;
  border-radius: 100px;
  padding: 2px;
  position: absolute;
  left:-60px;
  top:26px;
}
.safety-wrapper .table tr td .glyphicon-remove {
  background-color:#AB1212;
}
.safety-wrapper .table tr .align-center {
  text-align: center;
}
.safety-wrapper .table .status {
  color:#009ada;
}
.safety-wrapper .table .status-no {
  color:firebrick;
}
.safety-wrapper .table .btn {
  background-color:#009ADA;
  color:white;
    width: 80px;
    height: 30px;
    line-height: 18px;
}
.safety-wrapper .table .btn:hover{
    background: #0287be;
}
.rzz {
  width: 350px;
  position: relative;
  margin: 0 auto;
  display: none;
  overflow: auto;
  zoom:1;
  margin-top:20px;
}
.rZemail {
  width: 250px;
  height: 37px;
  text-indent: 10px;
  float: left;
  font-size: 14px;
}
.rzE_button {
  width: 80px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 14px;
  background: #009ADA;
  float: right;
  cursor: pointer;
  border-radius: 2px;
}
.rzE_button:hover{
  background-color:#009ADA;
}
.errors {
  color: #d2252c;
  font-size: 12px;
  clear:both;
  padding:10px;
  padding-left: 20px;
/*	background-image: url(/ccc/register/img/gou-bg.png);*/
  background-position: left center;
  background-repeat: no-repeat;
}

#moreInfo {
  width:600px;
  margin:auto;
}
#moreInfo ul{
  width: 100%;
  overflow: auto;
  zoom:1;
}
#moreInfo ul li {
  float:left;
  width:50%;
}
#moreInfo ul li label {
  margin-right:30px;
    	height: 70px;
	line-height: 70px;
}
#moreInfo ul li select {
  min-width: 100px;
  border: 1px solid #DFDFDF;
  outline: none;
  color: #868383;
  background-color: white;
}
#moreInfo .modify {
  background-color:#009ADA;
  color:white;
  width:80px;
  margin-left:210px;
    height: 30px;
}
#moreInfo .modify:hover{
    background-color: #015989;
}
.descript p a{
    color: #999;
}
.descript p a:hover{
    color: #009ada;
    text-decoration: none;
}

.border-block{
    display: inline-block;
    clear: both;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background: #eee;
}

.payInp[name='captcha']{
    border:none;
    width: 122px;
}

.input-group-addon{
    border:none;
}

.userIdNumber,
.trueName{
	margin-bottom:10px;
}

.account-submit{
    margin-top: 20px;
}

.check-name{
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 10px;
    font-size: 12px;
    width: 200px;
    color: black;
    padding-left: 10px;
}
/*.btn-success:hover,*/
.info-submit:hover{
    background-color: #015989 !important;
    
}
.btn-success:hover{
    font-size: 16px;
}
