<div id="register-wrapper" class="on-step-{{onStep}}">
    <Step>
        <div class="register-step-0">
            <div class="register-frame">
                <RInput field="mobile">
                    <div class="rinput">
                        <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>手机号码:</label>
                        <input class="phone" name="phone" id="{{rinputId}}" value="{{value}}" placeholder="输入手机号码">
                        <span class="tip-loading">{{#loading}}<img src='/ccc/global/img/loading.gif' style="width:20px;"/>{{/loading}}  
                        </span>
                        <span class="tip">{{#errMsg}}{{errMsg}}{{/if}}</span>
                    </div>
                </RInput>
                <RInput field="imgCaptcha">
                    <div class="rinput picnum">
                        <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>验证码:</label>
                        <input class="register-test" id="{{rinputId}}" value="{{value}}" placeholder="验证码">
                        <span on-click='changeImgCaptcha'>
                            <img src="{{imgCaptchaBase64}}" alt="">
                        </span>
                        <span id="cannot-see">看不清?</span>
                        <span on-click='changeImgCaptcha' id="refresh-captcha">换一张</span>
                    </div>
                    <div class="tip01" id="password-pic" style="margin-top: -30px;margin-bottom: 10px;float:left">
                        {{#errMsg}}{{errMsg}}{{/errMsg}}
                    </div>
                </RInput>
                <RInput field="smsCaptcha">
                    <div class="rinput message-confirm bring-in">
                        <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}">短信验证码:</label>
                        <input id="{{rinputId}}" value="{{value}}" placeholder="短信验证码" class="message-brame"> 
                        {{#if !smsCaptchaReady}}
                            <button on-click='sendSmsCaptcha' id="get-message">
                                获取短信验证码
                            </button>
                        {{else}}
                        <button on-click='sendSmsCaptcha' {{#if !smsCaptchaReady || smsCaptchaCountDown}}disabled{{/if}}>

                            {{#if smsCaptchaCountDown}} {{smsCaptchaCountDown}}秒后重新发送 {{else}} 获取短信验证码 {{/if}}
                        </button>
                        {{/if}}
                        <span class="tip-loading">{{#loading}}<img src='/ccc/global/img/loading.gif' style="width:20px;"/>{{/loading}}</span>
                        <span class="tip">{{#errMsg}}{{errMsg}}{{/errMsg}}</span>
                    </div>
                </RInput>

                <RInput field="password" valueStableDuration=200>
                    <div class="rinput">
                        <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>密码:</label>
                        <input class="password" id="{{rinputId}}" type="password" value="{{value}}" placeholder="输入密码，6-16位字符" maxlength="16">
                        <span class="tip-loading">{{#loading}}<img src='/ccc/global/img/loading.gif' style="width:20px;"/>{{/loading}}</span>
                        <span class="tip">
        {{#errMsg}}{{errMsg}}{{/errMsg}}
    </span>
                    </div>
                </RInput>
                <RInput field="repassword" valueStableDuration=200>
                    <div class="rinput">
                        <label for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}"><em>*</em>确认密码:</label>
                        <input class="repassword" id="{{rinputId}}" type="password" value="{{value}}" placeholder="再次输入密码" maxlength="16">
                        <span class="tip-loading">{{#loading}}<img src='/ccc/global/img/loading.gif' style="width:20px;"/>{{/loading}}</span>
                        <span class="tip">{{#errMsg}}{{errMsg}}{{/errMsg}}</span>
                    </div>
                </RInput>
                {{#HIDE}}
                <RInput field="refm">
                    <div class="rinput">
                        <label style="padding-top: 10px;" for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}">推荐人:</label>
                        <input id="{{rinputId}}" name="refm" value="{{value}}" placeholder="请输入推荐人的手机号码，可不填">
                        <span class="tip-loading">{{#loading}}<img src='/ccc/global/img/loading.gif' style="width:20px;"/>{{/loading}}</span>
                        <span class="tip">{{#errMsg}}{{errMsg}}{{/errMsg}}</span>
                    </div>
                </RInput>
                {{/HIDE}}
               <RInput field="inviteCode">
                    <div class="rinput">
                        <label style="padding-top: 10px;" for="{{rinputId}}" class="pi-placeholder {{#if value}}pi-placeholder__filled{{/if}}">推荐码:</label>
                        <input id="{{rinputId}}" name="inviteCode" value="{{value}}" placeholder="请输入推荐码，可不填">
                        <span class="tip-loading">{{#loading}}<img src='/ccc/global/img/loading.gif' style="width:20px;"/>{{/loading}}</span>
                        <span class="tip">{{#errMsg}}{{errMsg}}{{/errMsg}}</span>
                    </div>
                </RInput>
                
<!--                <RInput field="agreement" valueStableDuration=100>-->
                    <div class="rinput agreement-div">
                         {{#if stepLoading}}
                        <input class="next-step" type="button" value="请稍等" disabled /> {{else}}
                        <input on-click='nextStep' class="next-step" type="button" value="立即注册" /> {{/if}}
                        <label class="agree-register-protocol">
                             <span>点击“立即注册”按钮即表示已阅读并同意<span class="i-agree"><a href="/agreement/mobile/regist" target="_blank" class="ccc-agreement">《奇乐融用户注册协议》</a></span></span>
<!--                            <input type="checkbox" id="{{rinputId}}" checked="{{value}}" />-->
                            
                            <br>

<!--                            <span class="tip" style="left:22px;top:20px;line-height:normal;"> {{#errMsg}}{{errMsg}}{{/errMsg}}</span>-->
                        </label>
                    </div>
<!--                </RInput>-->
                
            </div>
            <div class="register-banner">
                <p><img src="/ccc/register/img/gray-line.png" />
                    <span>已有账号，立即<a href="/login">登录</a></span>
                    <img src="/ccc/register/img/gray-line.png" />
                </p>
                <div class="register-pic"></div>
            </div>
        </div>
    </Step>

    <Step>
        <div class="register-step-1">
            <div class="regist-left">
            <p class="success"><img src="/ccc/register/img/right-icon.png"/>恭喜您，注册成功！<span class="go-to-account"></span></p>
            <a href="/newAccount/settings/authentication"><button class="go-account">前往我的账户</button></a>
            </div>
            <img class="regist-right" src="/ccc/register/img/regist-success-banner.png"/>
        </div>
        
    </Step>
</div>

<script>
    $(".register-frame").on("click", "#get-message", function () {
        $(".message-brame").val("");
    })
</script>
