
   {{#if user && !user.thirdPartyPayEnabled}}
    {{! 已登录,但是没开第三方支付 }}
    <div class="prompt-open-3rdpay">
        <h3>请先开通第三方支付托管</h3>
        <p>
            为了保证安全,您的所有操作金额都将通过第三方平台进行中转操作,所以请先到联动优势进行开户。
        </p>
    </div>
    <div class="invest-button-wrapper">
        <a class="btn btn-warning invest-button" href="#">立即开通</a>
    </div>
{{else}}
    {{#if !user}}
        {{! 未登录 }}
        <div class="invest-header">
            <div class="text-invest">投资金额</div>
            <div class="clearfix"></div>
        </div>
        
        <div class="not-login-wrapper">
            <div class="available-amount"><span class="big">300,000</span>可投金额(元)</div>
            <div class="left-time">剩余时间:7天12时34分</div>
        </div>
        
        <div class="invest-button-wrapper">
            <input type="submit" class="btn btn-warning invest-button" value="立即登录" />
        </div>
    {{else}}
        {{! 已登录 }}
        
        <!--第一部分-->
        <div class="invest-header">
            <div class="text-invest">投资金额</div>
            
            {{#if invest.status === "PAYING" }}
            <div class="invest-status">还款中</div>
            {{/if}}
            
            {{#if invest.status === "FINISHED" }}
            <div class="invest-status">已满标</div>
            {{/if}}
            
            {{#if invest.status === "INVESTING" }}
                <div class="available-amount">可投金额:<span>￥300,000</span></div>
            {{/if}}
            
            <div class="clearfix"></div>
        </div>
        
        <!--第二部分-->
        {{#if invest.status === "PAYING" || invest.status === "FINISHED" }}
            <div class="invest-not-available">
                <ul>
                    <li>融资总额 : 80万</li>
                    <li>投资人数 : 128</li>
                    <li>满标用时 : 0时42分4秒</li>
                </ul>
            </div>
            <div class="invest-button-wrapper">
            <input type="button" class="btn .disabled invest-button" value="关注其他项目" />
            </div>
        {{/if}}
        
        {{#if invest.status === "SCHEDULED" }}
            <div class="not-login-wrapper">
            <div class="available-amount">
               <span class="big">300,000</span>可投金额(元)
            </div>
            <div class="left-time">剩余时间:7天12时34分</div>
        </div>
            <div class="invest-button-wrapper">
            <input type="submit" class="btn .disabled invest-button" value="关注其他项目" />
            </div>
        {{/if}}
        
        {{#if invest.status === "INVESTING"}}
            <form action="#" class="invest-form" on-submit="invest-submit">
                <div class="form-group invest-input-wrapper">
                    <span class="rmb-symbol">￥</span>
                    <input type="text" class="form-control invest-input" placeholder="快给钱吧..." value="{{ inputNum }}" />

                    <!-- 反馈 -->
                    {{#if showError}}
                    <div class="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <span class="glyphicon glyphicon-exclamation-sign icon"></span>
                            <span class="text">{{ errorMessage }}</span>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="para3">
                    <div class="rest-money">余额:￥123,456,789</div>
                    <div class="charge"><a href="#">充值</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="invest-progress-wrapper">
                    <div class="invest-progress">
                        <div class="invest-progress-bar" style="width: 98%;">
                        </div>
                    </div>
                    <div class="invest-progress-percent">98%</div>
                    <div class="time-left">剩余时间:7天12小时34分</div>
                    <div class="clearfix"></div>
                </div>
                <div class="invest-button-wrapper">
                    <input type="submit" class="btn btn-warning invest-button" value="立即投标" />
                </div>
            </form>
        {{/if}}
    {{/if}}
{{/if}}