<!--detail页面的 相关资料部分-->

<div class="insurance">
    <a href="#">
        <img src="{{ imgs[currentIndex].src }}" alt="{{ imgs[currentIndex].text }}" class="preview" on-click="begin-big-pic" />
    </a>
    <div class="insurance-intro">{{ imgs[currentIndex].text }}</div>

    <!--全屏大图-->
    {{#if showBigPic}}
    <div class="big-pic-wrapper">
        <div class="img-wrapper" style="width:{{imgWidth}}px;">
            <!--关闭按钮-->
            <div class="close" on-click="end-big-pic"></div>
           
                <img src="{{ imgs[currentIndex].src }}" alt="" class="big">
           
            <!-- 左右按钮 -->
            {{#if currentIndex > 0}}
            <a class="prev-big control" href="#" on-click="prev-big" title="前一张">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            {{/if}} {{#if currentIndex
            < imgs.length-1 }} <a class="next-big control" href="#" on-click="next-big" title="后一张">
                <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {{/if}} {{#if showTip}}
                <div class="status">当前第 {{ currentIndex+1 }}/{{ imgs.length }} 张</div>
                {{/if}}
        </div>
    </div>
    {{/if}}
</div>

<div class="controler">
    <a href="#" class="left" on-click="left-selector"></a>
    <div class="selectors-wrapper">
        <ul class="selectors" style="{{#selectorsMarginLeft}} margin-left: {{ selectorsMarginLeft }}px; {{/}}">
            {{#each imgs}}
            <li class="selector {{#if currentIndex === @index}}active{{/if}}">
                <a href="#">
                    <img src="{{ src }}" alt="{{ text }}" on-click="selector-click" />
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    <a href="#" class="right" on-click="right-selector"></a>
</div>