<meta charset="UTF-8">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="width=device-width, initial-scale=1.0, user-scalable=1" name="viewport"
/>{{>layouts.default.head}}
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/css/mobileAgreement.css">
<div class="agreement-container">
    <h3>网站注册服务协议</h3>
    <div class="close" on-click="close"></div>
    <div class="agreement-content">
        <p class="agreement-subtitle"><strong>一、注册及账户绑定规则</strong>
        </p>
        <p class="agreement-smalltitle">（一）注册规则</p>
        <p>1、用户以真实、合法、有效的身份信息在来投平台网站进行实名注册，并经来投平台验证通过之后才能成为注册用户。</p>
        <p>2、只有注册用户才能使用来投平台进行投资或者融资活动，非注册用户仅能浏览、查看部分信息。</p>
        <p>3、具体的注册事项以来投平台服务协议及网站相关流程、规定为准。</p>
        <p class="agreement-smalltitle">（二）绑定账户</p>
        <p>1、为交易资金划转需要，投资人（出借人）、融资人（借款人）、来投平台、担保人等均需要在第三方支付机构（下称支付机构）申请开立与其在来投平台注册用户名相绑定的专用第三方支付账户（下称绑定账户）。</p>
        <p>2、绑定账户的户名、身份证件/营业执照号码等与其所绑定的投融资平台注册用户的真实姓名/名称及身份证件/营业执照号码等完全一致。</p>
        <p>3、没有绑定账户，无法进行资金划转，不能实施投融资交易。</p>
        <p class="agreement-subtitle"><strong>二、收费规则</strong>
        </p>
        <p>各方称谓：投资人（含出借人）、融资人（含借款人）、来投平台、担保人；项目提供方，指推荐融资项目的主体。</p>
        <div class="agreement-table">
            <table>
                <tr>
                    <th class="number">序号</th>
                    <th class="pay">付费主体</th>
                    <th class="name">费用名目</th>
                    <th class="time">支付时点</th>
                    <th class="sendee">收费主体</th>
                    <th class="pay-type">支付方式</th>
                    <th>金额或计算方式</th>
                </tr>
                <tr>
                    <td class="number">1</td>
                    <td class="pay">融资人</td>
                    <td class="name">借款利息</td>
                    <td class="time">正常还款时</td>
                    <td class="sendee">投资人</td>
                    <td class="pay-type">线上划扣</td>
                    <td class="calculate">利息=借款本金×（年化利率÷365）×借款期限（天）</td>
                </tr>
                <tr>
                    <td class="number">2</td>
                    <td class="pay">融资人
                        <br />投资人</td>
                        <td class="name">充值+提现手续费</td>
                        <td class="time">投资、还款、提现时</td>
                        <td class="sendee">第三方支付机构</td>
                        <td class="pay-type">线上划扣</td>
                        <td class="calculate">只对投资人充值后未投资资金的提现操作，由支付机构按照提现金额的0.25%收取提现手续费；
                            <br />其余费用由来投平台承担，借款人、投资人免付。
                        </td>
                </tr>
                <tr>
                    <td class="number">3</td>
                    <td class="pay">融资人</td>
                    <td class="name">逾期罚息、违约金</td>
                    <td class="time">逾期还款时</td>
                    <td class="sendee">担保人
                        <br />投资人</td>
                    <td class="pay-type">线上或线下收取</td>
                    <td class="calculate">罚息=借款本金×（年利率÷365）×150% ×逾期天数]</td>
                </tr>
                <tr>
                    <td class="number">4</td>
                    <td class="pay">转让人</td>
                    <td class="name">债权质押转让贴现服务费</td>
                    <td class="time">首次转让时</td>
                    <td class="sendee">来投平台</td>
                    <td class="pay-type">线上划扣</td>
                    <td class="calculate">转让人投资收益的10%
                        <br />投资收益=本次转让价格﹣借出本金</td>
                </tr>
                <tr>
                    <td class="number">5</td>
                    <td class="pay">再转让人</td>
                    <td class="name">债权质押转让贴现服务费</td>
                    <td class="time">受让后再转让时</td>
                    <td class="sendee">来投平台</td>
                    <td class="pay-type">线上划扣</td>
                    <td class="calculate">再转让人投资收益的10%
                        <br />投资收益=本次转让价格﹣本次受让价格</td>
                </tr>
            </table>
        </div>
        <p class="agreement-subtitle"><strong>三、计息及还款规则</strong>
        </p>
        <p>1、资金冻结：投资人在募集期限内确定投资后，其绑定账户内相应金额的资金被冻结；在还款日前第3个工作日开始，进入融资人绑定账户的资金将被冻结，直至足额还款（冻结金额以应还款金额为限）。
            <br />投资人、融资人的资金在其绑定账户被冻结期间，该等资金不计算利息（收益）。</p>
        <p>2、放款规则：资金募集成功，融资资金将在下一工作日内划入融资人绑定账户。</p>
        <p><u>3、还款方式：融资人还款（包括但不限于正常还款、逾期还款、提前还款等 ）均须登录来投平台网站，通过向其绑定账户转款（充值）来完成。</u>
            <br />代偿方式：担保人可以通过来投平台专用账户代偿，也可以直接通过其绑定账户代偿。
        </p>
        <p>4、放款、还款（含代偿）操作均需在工作日进行。如该日为非工作日，则自动顺延至该日后的第一个工作日。前述顺延期间不计算利息（收益），也不视为违约。</p>
        <p>5、借款期限：自融资人绑定账户收到出借资金之日（T日）开始计算，当月T日至下月T﹣1日为第1个月（对应月份没有T﹣1日的，以对应月份的最后一日为T﹣1日），以此类推。</p>
        <p>6、还款日：借款发放后，对应还款月份的T-1日为该月的还款日（对应月份没有T﹣1日的，以对应月份的最后一日为T﹣1日）。</p>
        <p>7、利率（收益率）计算规则：
            <br />融资合同（含《借款及担保合同》、《债权转让合同》等）以年利率、月利率或日利率来约定融资利率（收益率）；其换算规则为：
            <br />日利率 = 年利率÷365 或 月利率÷30
            <br />该月利息 = 上月T日尚欠借款本金×日利率×该月自然天数（上月T日至该月T﹣1日的自然天数，含T日、T﹣1日当日在内）。
        </p>
        <p>8、逾期还款时，逾期期间的利率为融资合同约定利率上浮50%。如担保人及时足额代偿的，担保人、融资人均无须支付逾期利息（含上浮部分）。</p>
        <p>9、如融资人违约，担保人应在还款日（T日）届满后2个工作日（T+2）内将代偿资金足额转入其绑定账户。</p>
        <p class="agreement-subtitle"><strong>四、资金划转规则</strong>
        </p>
        <p>1、来投平台仅提供信息中介和交易管理服务，不收付资金，更不设资金池。投资人的投资资金、融资人的还款资金等均不进入或者经过来投平台的绑定账户或银行账户。</p>
        <p>2、如募集期限届满之日（T日）资金募集不成功（即流标），则来投平台将指令支付机构在T+1日之内解除投资人绑定账户的资金冻结。</p>
        <p>3、如资金募集成功，则来投平台将指令支付机构在募集成功之日（T日）的下一工作日（T+1）内将投资资金直接划至融资人绑定账户。融资人申请提现即可完成融资。</p>
        <p>4、融资人在还款日（T日）前正常还款的，来投平台将在T+2个工作日内完成结算并指令支付机构将还款资金划至投资人绑定账户。</p>
        <p>5、融资人逾期还款或提前还款时（T日），来投平台将在T+2个工作日内完成结算并指令支付机构将还款资金划至投资人绑定账户。</p>
        <p>6、在担保人代偿或提前代偿时（T日），来投平台将在T+2个工作日内完成结算并指令支付机构将还款资金划至投资人绑定账户。</p>
        <p>7、投资人、融资人、担保人等均应确保其账户状态正常。如因账户（借记卡）发生销户、换卡、挂失和司法冻结等情况且未重新绑定其它正常账户，造成资金无法出入账的，须及时通知并申请来投平台协助完成后续处理，并承担可能产生的不利后果及相应责任。</p>
        <p>8、担保人代偿后，融资人将款项转入其绑定账户的，来投平台有权向支付机构发出指令将该等资金予以冻结或者划转到担保人绑定账户。</p>
        <p>9、非因来投平台过错造成的资金到账延误或错误（包括但不限于第三方系统、通讯系统故障、延迟），无论是否有利/有损于投资人、融资人、担保人等任何一方，来投平台均有权立即通知各方并纠正该错误，且来投平台均无需承担赔付责任。</p>
        <p class="agreement-subtitle"><strong>五、其他</strong>
        </p>
        <p>1、本规则所列示的交易条件与相关主体所签署的具体的合同、协议等法律文件不一致的，以该等文件的约定为准；该等文件未约定或约定不明的，自动适用本规则。</p>
        <p>2、本规则所指工作日，指国家法定工作日内来投平台网站的工作时间（即9:00至18:00）。如有调整，以来投平台网站公告为准。</p>
        <p>3、本规则自公告于来投平台网站之日起生效，请您仔细阅读并对其含义及法律后果有充分理解。</p>
        <p>4、来投平台保留修改本规则的权利。本规则如有修改，将及时在来投平台网站上公告，并自公告之日自动生效。</p>
    </div>
</div>