{{#if step1}}

<div class="u-con u-con-1">
    <div class="s-step">
        <div class="s-step-lg-hr">
         <div class="s-step-progress">
</div>

        </div>
        <div class="main">
            <div class="step01">

            <img class="step-guide" src="/ccc/forgot/img/step1.png"/>
                <div class="verify-content">
                 	<div class="box-phone">
						<div class="u-form-panel">

						   <p class="test-title">手机号：</p>
							<div class="s-form-row">


								<input class="u-form-text-def" type="text" name="name" value="{{user.mobile}}" placeholder="请输入手机号" id="phone" />
							</div>
						</div>
						<div class="errors">
							   <h1>
							{{#if errors.visible }}

								{{errors.msg}}

								   {{/if}}
							   </h1>
						</div>
					</div>
                    <div class="u-form-panel-lg">
                        <div class="s-form-row-lg">
                            <div class="border">
                          <p class="test-title">短信验证码：</p>      

                                <input class="u-form-text-lg" type="text" value="{{phone}}" id="phone02" placeholder="请输入短信验证码" />
                            </div>
                            <p id="get-text"><a href="javascript:;"  class="u-btn-blue getcaptcha" on-click="sendTelCode">获取短信验证码</a></p>
                        </div>
                    </div>
                    <p class="s-form-p-info" style="display:{{ telcode?'block':'none'}}">
                        动态码已发送至您的手机{{phone}},请在
                        <span class="s-form-time">{{time}}</span>秒内输入
                    </p>
                    

                    <input type="submit" class="u-form-btn-red" on-click="next" value="下一步" />
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}} {{#if step2}}
<div class="u-con u-con-2">
    <div class="s-step">
        <div class="s-step-lg-hr">
            <div class="s-step-progress">
            </div>
        </div>
        <div class="main">
            <div class="step02">
                <img  class="step-guide" src="/ccc/forgot/img/step2.png"/>
                 <div class="verify-content">
               

            <div class="u-form-panel">
				<div class="box-password">
                        <div class="step-password">
							<p class="test-title">密码：</p>
							<div class="s-form-row">


								<input class="u-form-text-def s-form-bor" type="password" value="{{newPass}}" id="clock" maxlength="16" placeholder="设置新密码，6-16位字符" />
							</div>
                        </div>
						<div class="errors">
							{{#if errors.visible }}
							<h1 class="u-content">
								{{errors.msg}}
							</h1>
							{{/if}}
                    	</div>
				</div>
                        <div  class="step-password-confirm">
                         <p class="test-title">确认密码：</p>
                        <div class="s-form-row">
                           
                            

                            <input class="u-form-text-def" type="password" value="{{rePass}}" id="clock02" maxlength="16" placeholder="请再次输入新密码" />
                        </div>
                            </div>
                    </div>
                    
                    <input type="submit" class="u-form-btn-red" value="下一步" on-click="login" />
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}} {{#if step3}}
<div class="u-con u-con-3">
    <div class="s-step">
        <div class="s-step-lg-hr">
            <div class="s-step-progress1">
            </div>
        </div>
        <div class="main">
            <div class="step03">
            <img  class="step-guide" src="/ccc/forgot/img/step3.png"/>
                <div class="step04">
                    <div class="way04">
                        <div class="box_icon">
                            <img src="/ccc/forgot/img/ok.png">
                        </div>
                        <div class="next next02">
                            <h4>

                                新密码设置成功，请妥善保存密码。</h4>

                            <h3><a href="#">{{timeLeft}}</a>秒后自动跳转界面... <a href="/index">返回首页></a> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/if}}