<link rel="stylesheet" href="/ccc/activity/css/gift.css">
<div class="big-container">
    <div class="process-box">
        <div class="process" >
       <img src="/ccc/activity/img/gift-process_01.png"/>
        <img src="/ccc/activity/img/gift-process_02.png"/>
        <img src="/ccc/activity/img/gift-process_03.png"/>
        <img src="/ccc/activity/img/gift-process_04.png"/>
            </div>
    </div>
    <div class="activity-rules">
      <img src="/ccc/activity/img/rule.png"/>
      <p>1、活动时间：2015年10月27日-2015年12月31日</p>
      <p>2、红包使用规则详见平台公告</p>
      <p>3、最终解释权归奇乐融所有</p>
        <a href="/register"><button class="btn">立即注册</button></a>
    </div>
    
</div>
