<link rel="stylesheet" href="/ccc/activity/css/special.css">
<div class="big-container">
   <div class="special-box">
       <div class="ltb-box">
           <div>
             <img class="ltb-title" src="/ccc/activity/img/ltb-title.png"/>
             <p class="ltb-content">乐投保是优质中小微企业的经营类借款产品。产品保障方是国内实力领先的融资性担保公司或具有担保资质的机构等。由专业的线下业务及风控团队进行严密的贷前审核、贷中追踪观察和贷后管理。</p>
           </div>
           <div class="ltb-special">
              <p class="ltb-special-title">【乐投保】系列产品的特点</p>
               <div class="ltb-content-line-box">
                  <p class="ltb-content-line-title">收益稳健：</p><p class="ltb-content-line">直接投资优质借款项目，年化收益高达11%，结标当日生息，按月付息，到期还本。</p>
               </div> 
               <div class="ltb-content-line-box">
                  <p class="ltb-content-line-title">本息保障：</p><p class="ltb-content-line">甄选优质保障机构，推荐优质借款项目，设置多重风险管控措施；保障机构承担连带责任保证。</p>
               </div> 
           </div>
           <div>
             <p class="ltb-model-title">【乐投保】交易模式图</p>
             <p class="ltb-model-content">投资人通过充值购买【乐投保】系列产品，将资金出借给借款人。保障机构为投资人提供100%本息保障，若借款项目发生
逾期，由保障机构对投资人先行代偿。</p>
             <img class="ltb-model-process" src="/ccc/activity/img/ltb-model.png"/>
           </div>
       </div>
       <div class="ltb-box">
           <div>
             <img class="lxy-title" src="/ccc/activity/img/lxy-title.png"/>
             <p class="ltb-content">乐享盈是将小贷、租赁、典当、保理等多元化类金融机构的优质债权在奇乐融平台进行转让。产品均由国内最领先的类金融企业严格筛选，并且经过层层保障，为投资人提供期限较短、收益可观的多元化理财产品。</p>
           </div>
            <div class="lxy-special">
              <p class="ltb-special-title lxy-special-title">【乐享盈】系列产品的特点</p>
               <div class="ltb-content-line-box lxy-content-line-box">
                  <p class="ltb-content-line-title ">投资期限较短：</p><p class="ltb-content-line lxy-content-line">【乐享盈】的投资期限以3-6个月为主，可以满足用户短期投资的需要；最高收益率高达9%，跑赢货币基金、银行理财等短期产品。</p>
               </div> 
               <div class="ltb-content-line-box lxy-content-line-box">
                  <p class="ltb-content-line-title ">多重还款保障：</p><p class="ltb-content-line lxy-content-line">项目信息披露真实、透明，原债务方经营稳健，还款能力强，保障机构承诺到期回购，带给投资人多重还款保障。</p>
               </div> 
           </div>
           <div style="margin-top:44px;">
             <p class="ltb-model-title">【乐享盈】交易模式图</p>
             <p class="ltb-model-content">投资人通过充值购买【乐享盈】系列产品，受让优质类金融机构转让的资产收益权。类金融机构承诺到期回购，为投资人提
供100%本息保障。</p>
             <img class="lxy-process" src="/ccc/activity/img/lxy-model.png"/>
           </div>
       </div>
       <div class="regist-btn">
          <a href="/register"><button class="regist">立即注册</button></a>
       </div>
   </div>

</div>