.big-container{
    background:url('/ccc/activity/img/bg_01.png')center top no-repeat,
   url('/ccc/activity/img/bg_02.png')center 950px no-repeat,url('/ccc/activity/img/bg_03.png')center 1900px no-repeat,url('/ccc/activity/img/bg_04.png')center 2850px no-repeat;
    width:auto;
    margin: 0px auto;
    height: 3800px;
}
.top{
    height:400px;
}
.family-len-box{
    font-size: 30px;
    color: #009ada;
    text-align: center;
    float: left;
    margin-left: 100px;
/*    margin-right: 40px;*/
    margin-top: 170px;
}

.family-pic{
    width: 980px;
    margin: 0px auto;
}
.media-box{
    width: 770px;
    margin: 0 auto;
}
.vedio-box{
    background:url('/ccc/activity/img/vedio-bottom.png')center 436px no-repeat;
    height: 556px;
}
.family-box{
    background:url('/ccc/activity/img/family.png')center top no-repeat;
    height: 601px;
    margin-top: 48px;
}
.family-word{
    font-size: 16px;
    color: #4a4a4a;
    line-height: 40px;
    width: 900px;
    margin: 0 auto;
    clear: both;
}
.family-len-box p{
    line-height: 100px;
    font-size: 26px;
    color: #fff;
    margin-bottom: 26px;
}
.internet-box{
    background:url('/ccc/activity/img/internet1.png')center top no-repeat;
    height: 931px;
    margin-top: 54px;
}
.bee{
     width: 1000px;
     margin: 0 auto;
}
.bee img{
    margin-top: 104px;
    margin-left: 106px;
}
.bee-word{
    width:880px;
    margin: 0 auto;
    font-size: 16px;
    color:#4a4a4a;
    line-height: 30px;
    margin-top: 64px;
    text-indent: 2em;
}
.p2p-word{
    margin-top: 62px;
}
.p2p-box{
    background:url('/ccc/activity/img/p2p.png')center top no-repeat;
    height: 649px;
    margin-top: 50px;
}
.p2p{
     width: 1000px;
     margin: 0 auto;
}
.p2p img{
    margin-top: 106px;
}
.tips-box{
    background:url('/ccc/activity/img/tips.png')center top no-repeat;
    height: 312px;
    margin-top: 72px;
}
.tips{
    width: 910px;
    margin:0 auto;
    padding-top: 81px;
    padding-left: 12px;
}
.tips img{
    margin-right: 14px;
}
.tips-top{
    margin-top: 10px;
}
.tips .tips-content{
    margin-left: 64px;
     font-size: 16px;
    color: #4a4a4a;
    line-height: 40px;
}
.regist{
    width: 320px;
    height: 60px;
    background: #f58200;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 30px;
}
.regist-box{
    margin:0 auto;
    width: 320px;
    margin-top: 50px;
}