.big-container{
    background:url('/ccc/activity/img/gift-bg_01.png')center top no-repeat,url('/ccc/activity/img/gift-bg_02.png')center 708px no-repeat,url('/ccc/activity/img/gift-bg_03.png')center 1416px no-repeat,url('/ccc/activity/img/gift-bg_04.png')center 2124px no-repeat;
    width:auto;
    margin: 0px auto;
    height: 2832px;
}
.process{
    margin-top:384px;
    position: absolute;
    left: 50%;
    margin-left: -655px;
}

.process-box{
    height:2410px;
}
.btn{
     background:url('/ccc/activity/img/btn-bg.png')center top no-repeat;
    width: 400px;
    height: 76px;
    color: #fff;
    font-size: 30px;
    margin-left: 264px;
    margin-top: 30px;
}
.activity-rules p{
    color: #2a4f64;
    font-size: 20px;
    line-height: 34px;
}
.activity-rules img{
    margin-top: 96px;
    margin-bottom: 10px;
}
.activity-rules{
    width: 924px;
    margin: 0px auto;
}