.big-container{
    background:url('/ccc/activity/img/11-bg_01.png')center top no-repeat,url('/ccc/activity/img/11-bg_02.png')center 426px no-repeat,url('/ccc/activity/img/11-bg_03.png')center 852px no-repeat,url('/ccc/activity/img/11-bg_04.png')center 1278px no-repeat;
    width:auto;
    margin: 0px auto;
    height: 1704px;
}
.waiting-you{
    width: 1100px;
    margin: 0px auto;
}
.waiting-you img{
   
}
.waiting-you-btn{
    width: 216px;
    height: 50px;
    font-size: 22px;
    color: #fff;
    background: #f58200;
    border: none;
    border-radius: 5px;
    letter-spacing:4px;
}
.waiting-you-btn-box{
    width: 216px;
    margin: 0px auto;
}
.waiting-you .single-iphone{
    margin-left:10px;
     margin-top: 50px;
}
.cash-word{
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
.cash-word span{
    font-size:26px; 
    line-height: 26px;
}
.waiting-you-bg{
    background: url('/ccc/activity/img/11-bg-bg.png');
    width: 1100px;
    padding-top: 40px;
      height: 882px;
}
.relationship{
    width: 1000px;
    margin: 0px auto;
    background: rgba(0,86,203,0.7);
   border-radius: 4px;
    margin-bottom: 40px;
  
    
}
.relationship-pic{
    margin-top: 20px;
    margin-left: 126px;
    margin-bottom: 20px;
}
.relation-left{
    float:left;
     background: rgba(0,86,203,0.7);
    border-radius: 4px;
    width: 480px;
    height: 304px;
    font-size: 20px;
    color: #fff;
    padding:60px 64px 0px 64px;
    text-align: center;
}
.relation-left span{
    font-size: 28px;
    color: #fff503;
}
.relation-right{
    float: right;
    width: 480px;
    height: 304px;
    background: rgba(0,86,203,0.7);
    border-radius: 4px;
}
.relation-right img{
    margin-top: 20px;
    margin-left: 30px;
}
.rules{
    color:#fff503;
    font-size: 24px;
    margin-top: 6px;
/*    margin-bottom: 10px;*/
}
.rules-content{
    color: #fff;
    font-size: 14px;
    line-height: 26px;
}