<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/earn-interest.png" />
        <div class="transparent-house-content">
            <p>产品年化收益率高达11%，是银行活期利率30多倍，一年期银行定存利率6倍，投资周期3-12月不等，真正贴近投资人需求。</p>
        </div>
    </div>
</div>
</div>  
<div class="bg-white">
<div class="heart-content-box content-box">
    <div class="transparent-house  transparent-paper">
        <img src="/ccc/safety/img/earn-cup.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>奇乐融凭借正奇金融在类金融领域积累的强大优势，有效利用担保、租赁、小贷和典当等机构多年积累的线下资源，可持续供应优质标的。联想控股“投资+实业”的布局，也为奇乐融提供了更多产融结合的机会。</p>
        </div>
    </div>
</div>
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/earn-computer.png" />
        <div class="transparent-house-content">
            <p>奇乐融借助网络技术，建立起投资人与中小企业的投融资桥梁，省去了传统金融模式的繁琐手续，降低投资门槛，简化投资流程，提高投资效率，将收益真正让利给用户。</p>
        </div>
    </div>
    {{#if !user}}
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
    {{else}}
    <div class="regist-rightnow-btn"><a href="/invest"><button class="regist-rightnow">马上投资</button></a></div>
    {{/if}}
</div>
</div>    