<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="heart-control-box">
        <img src="/ccc/safety/img/heart-control.png" />
        <div class="heart-control">
            <h2><img src="/ccc/safety/img/word-control.png"/></h2>
            <p>奇乐融精挑类金融机构（小贷、担保、租赁、典当、保理等）或实力企业作为保障机构，细选保障机构推荐的项目。平台所有标的项目由保障机构承担本息保障责任，若项目出现逾期，保障机构将在规定期限内履行本息兑付义务。奇乐融拥有专业的风控团队，执行严谨的风控流程，严格把关每一道审核程序。</p>
        </div>
    </div>
</div> 
</div>
<div class="bg-white">
<div class="heart-content-box  content-box">
    <div class="heart-control-box heart-pay-box">
        <img src="/ccc/safety/img/heart-pay.png" />
        <div class="heart-control heart-pay">
            <h2  class="heart-pay-title"><img src="/ccc/safety/img/word-safety.png"/></h2>
            <p>按照《关于促进互联网金融健康发展的指导意见》要求,奇乐融与领先的移动支付供应商连连支付合作，为投资人提供便捷的支付服务，与兴业银行战略合作推动资金存管。奇乐融不触碰用户资金，规避资金挪用的风险,确保投资人安心无虞。</p>
        </div>
    </div>
 </div> 
</div>   
  <div class="heart-bg">
<div class="heart-content-box">  
    <div class="heart-control-box ">
        <img src="/ccc/safety/img/heart-system.png" style="position:relative;top:70px;"/>
        <div class="heart-control">
            <h2><img src="/ccc/safety/img/word-system.png"/></h2>
            <p>奇乐融按照金融级安全架构，采用企业级JAVAEE开发和Node.js前端技术，数据库与WEB页面剥离，限定IP地址访问，并通过128位密钥的SSL技术加密，拒绝明文密码保存，以防止数据中途被窃取，维护数据的完整性;<br/>
            病毒防护方面，奇乐融系统无原生的SQL脚本拼装，防止SQL注入，定时或不定时经过IBM AppScan及HP Fortify等安全权威工具多次全面扫描验证，保证系统可靠；<br/>
            用户投资方面，所有交易同卡进出，并采用CFCA（中国金融认证中心）数字签章，后台双岗复核，为每一笔投资安全上锁。</p>
        </div>
    </div>
 </div> 
</div>   
  <div class="bg-white">
<div class="heart-content-box  content-box">  
    <div class="heart-control-box heart-pay-box">
        <img src="/ccc/safety/img/heart-law.png" />
        <div class="heart-control heart-pay">
            <h2 class="heart-pay-title"><img src="/ccc/safety/img/word-law.png"/></h2>
            <p>奇乐融作为互联网金融信息中介平台，根据《合同法》提供居间服务。投资人与借款人缔结的《借款合同》受法律保护。聘请大成律师事务所对合同进行专业的审核，为平台提供专业法律服务和保障。</p>
        </div>
    </div>
 </div> 
</div>   
  <div class="heart-bg">
<div class="heart-content-box">  
    <div class="heart-control-box">
        <img src="/ccc/safety/img/heart-privacy.png" />
        <div class="heart-control">
            <h2><img src="/ccc/safety/img/word-privacy.png"/></h2>
            <p>奇乐融执行严格的用户信息操作规范，确保用户隐私不被泄露。与第三方机构合作时，要求其遵守相关保密协议，保证用户隐私不受侵犯。</p>
        </div>
    </div>
    {{#if !user}}
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
    {{else}}
    <div class="regist-rightnow-btn"><a href="/invest"><button class="regist-rightnow">马上投资</button></a></div>
    {{/if}}
</div> 
</div>