<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/pro-bank.png" />
        <div class="transparent-house-content">
            <p style="margin-top:40px;">奇乐融依据正奇金融专业的风控流程和风险评价标准，建立起完善的保障机构筛选标准和风险评价模型，选择专业的类金融机构或实力企业开展业务合作，通过专业保障机构的把控筑起风险控制的第一道门槛。</p>
        </div>
    </div>
</div>
</div>
<div class="bg-white">
<div class="heart-content-box content-box">
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/pro-cup.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>奇乐融获取保障机构推荐的优质项目后，借助正奇金融信息化平台，通过专业的流程控制和多维度的评分模型，对每个借款项目进行全方位的审查和评估，并且让借款项目可与央行征信系统实现查寻或者报送的对接，实现项目审查评估的流程化、标准化和信息化。</p>
        </div>
    </div>
</div>
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img src="/ccc/safety/img/pro-computer.png" />
        <div class="transparent-house-content">
            <p style="margin-top:46px;">奇乐融充分利用大数据分析，利用正奇金融信息化平台，在实现业务全流程线上办理同时，实现了统一的客户管理和风险管理，对借款项目的数据进行深度挖掘和深入分析，及时预判项目风险，对借款项目贷中贷后实行全流程有效监管。</p>
        </div>
    </div>
</div>
</div>    
<div class="bg-white bg-bottom">    
<div class="heart-content-box content-box">
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/pro-book.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>奇乐融依托正奇金融强大的专业团队，高标准和高要求选拔标杆人才，注重企业文化和经验传承，倾力打造一支专业化程度高、责任心强的互联网金融专业人才团队。奇乐融和正奇金融团队构成体现专业化、职业化、年轻化的特点，本科及以上学历占比超过90%，拥有注册会计师、审计师、律师等职业资格占比超过30%</p>
        </div>
    </div>
    {{#if !user}}
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
    {{else}}
    <div class="regist-rightnow-btn"><a href="/invest"><button class="regist-rightnow">马上投资</button></a></div>
    {{/if}}
</div>
</div>    