<link rel="stylesheet" href="/ccc/safety/css/style.css">
<div class="heart-banner">
    <img src="/ccc/safety/img/heart-banner.png" />
</div>
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house  more-height">
        <img style="margin-left:50px;" src="/ccc/safety/img/transparent-house.png" />
        <div class="transparent-house-content">
            <p>奇乐融接受国际顶级会计师事务所审计，并依照香港上市公司标准进行信息披露</p>
        </div>
    </div>
</div>
</div>
<div class="bg-white">
<div class="heart-content-box content-box">
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/transparent-paper.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>为保障项目的真实性，在保护用户隐私的前提下，奇乐融全方位披露项目信息、借款人征信信息、保障机构信息、相关资质认证以及相关合同协议等，确保用户能客观地了解项目信息，合理评估风险和收益。</p>
        </div>
    </div>
</div>
</div> 
<div class="heart-bg">
<div class="heart-content-box">
    <div class="transparent-house">
        <img  style="margin-left:50px;" src="/ccc/safety/img/transparent-computer.png" />
        <div class="transparent-house-content">
            <p style="margin-top:78px;">奇乐融将定期发布月度运营报告、半年度运营报告、年度运营报告，根据《关于促进互联网金融健康发展的指导意见》要求，向用户客观展现平台运营情况。</p>
        </div>
    </div>
</div>
</div>
<div class="bg-white bg-bottom">
<div class="heart-content-box content-box">
    <div class="transparent-house transparent-paper">
        <img src="/ccc/safety/img/transparent-contact.png" />
        <div class="transparent-house-content transparent-paper-content">
            <p>用户可以通过网站、微博、微信、APP、QQ群和客服电话等多个渠道方便、快捷、详细获悉平台真实信息，及时跟踪标的项目进展情况。</p>
        </div>
    </div>
    {{#if !user}}
    <div class="regist-rightnow-btn"><a href="/register"><button class="regist-rightnow">立即注册</button></a></div>
    {{else}}
    <div class="regist-rightnow-btn"><a href="/invest"><button class="regist-rightnow">马上投资</button></a></div>
    {{/if}}
</div>
</div>