
#main-container{
/*    background: #f4fcff;*/
    padding-bottom: 66px;
    overflow: hidden;
}
.heart-control-box img{
    float: left;
}
.heart-control-box .heart-control img{
    float: none;
}
.heart-control-box{
    margin:0px 110px 0px 110px;
    overflow: hidden;
}
.heart-pay-box{
    margin-left: 86px;
    margin-right: 74px;
}
.heart-pay-box img{
    float:right;
}

.heart-control{
    float: right;
    width: 420px;
}
.heart-pay{
    float: left;
}
.heart-pay .heart-pay-title{
    margin-top: 10px;
}
.heart-control h2{
    font-size: 24px;
    color:#4a4a4a;
    line-height: 24px;
/*    margin-top: 30px;*/
    margin-bottom: 20px;
}
.heart-control p{
    font-size: 16px;
    color:#4a4a4a;
    line-height: 38px;
    margin-bottom: 20px;
}
.heart-banner img{
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
.heart-banner{
    height: 200px;
}
.heart-content-box{
    width: 1100px;
    margin: 0px auto;
/*    height: 270px;*/
     background: #f4fcff;
     padding-top: 30px;
}
.regist-rightnow{
    width:320px;
    height:60px;
    color:white;
    background: #f58200;;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
}
.regist-rightnow:hover{
    background: #df6502;
}

.regist-rightnow-btn{
    margin-left: 370px;
}
.transparent-box{
    height:1540px;
}
.transparent-house img{
    float: left;
}
.transparent-paper img{
    float: right;
}

.transparent-house{
    margin-left: 110px;
    margin-right: 100px;
    height: 270px;
/*    margin-bottom: 30px;*/
}
.transparent-house-content{
    float: right;
    width: 421px;
}
.transparent-paper-content{
    float: left;
}
.transparent-house-content p{
    font-size: 16px;
    color:#4a4a4a;
    line-height: 38px;
    margin-top: 86px;
}
.transparent-paper-content p{
    margin-top: 30px;
}
.transparent-earn-content p{
    margin-top: 70px;
}
.heart-bg{
   background: #f4fcff; 
}
.bg-white{
    background: #fff;
    height: 270px
}
.content-box{
    background: #fff;
}
.bg-bottom{
    height:auto;
}
.more-height{
    height:320px;
}