<div class="ccc-banks-wrap">
    <div class="space space-30"></div>
    <div class="recharge-form-wrap">
        <form role="form" name="rechargeForm" action="{{action}}" method="POST" target="_blank" on-submit="recharge_submit">
            <h4>充值金额</h4>
            <div class="space space-10"></div>
            <div class="row">
                <div class="col-md-5">
                    <!-- <input type="hidden" name="bank" class="bank" value=""> -->
                    <div class="form-group has-error- has-feedback">
                        <span class="form-control-feedback">
                        	<i class="fa fa-rmb"></i>
                        </span>
                        <input type="text" name="amount" class="form-control input-lg" id="rechargeValue"
                        on-blur="changeValue" placeholder="" value="{{amount}}">
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="help-block text-danger">
                        {{#msg.BANK_NULL}}请选择银行卡{{/msg.BANK_NULL}} 
                        {{#msg.AMOUNT_NULL}}请输入充值金额{{/msg.AMOUNT_NULL}}
                        {{#msg.AMOUNT_INVALID}}输入的金额有误{{/msg.AMOUNT_INVALID}}
                        {{#msg.BANKCODE_NULL}}请选择网上银行{{/msg.BANKCODE_NULL}}
                    </p>
                </div>
            </div>
            <div class="space space-10"></div>
            <h4>充值方式</h4>
            <div class="space space-10"></div>
            <div class="row">
                <div class="methodwr">
                {{#if !isEnterpriseUser}}
                    {{#if !isNormal}}
                    <span class="rechargeMthod current" style="margin-left:15px;" data-type="net" on-click="changeMethod">网银银行</span>
                    <span class="rechargeMthod" data-type="normal" on-click="changeMethod">第三方支付</span>
                    {{else}}
                    <span class="rechargeMthod" style="margin-left:15px;" data-type="net" on-click="changeMethod">网银银行</span>
                    <span class="rechargeMthod current" data-type="normal" on-click="changeMethod">第三方支付</span>
                    {{/if}}
                {{else}}
                    <span class="rechargeMthod current" style="margin-left:15px;" data-type="net" on-click="changeMethod">网银银行</span>
                {{/if}}
                </div>
                <div class="space space-30"></div>
                {{#if !isNormal}}
                <div class="bankwrap col-md-12">
                    {{#if !isEnterpriseUser}}
                        {{#each banks}}
                        <span class="bankItem {{code}}" data-code="{{bankCode}}" on-click="selectBank">
                        </span>
                        {{/each}}
                    {{else}}
                        {{#each corBanks}}
                        <span class="bankItem c{{code}}" data-code="{{bankCode}}" on-click="selectBank">
                        </span>
                        {{/each}}
                    {{/if}}
                </div>
                <input type="hidden" name="isEnterpriseUser" value="{{isEnterpriseUser}}">
                <input type="hidden" name="bankCode" value="{{bankCode}}"> 
                {{/if}}
            </div>
            <div class="space space-30"></div>
            <button type="submit" class="btn btn-warning btn-lg">确认充值</button>
        </form>
    </div>
</div>

<div class="row ccc-container">
    <div class="col-md-12">
        <div class="space space-20"></div>
        <p>注意事项：</p>
        <ul class="dec-li">
            <li>1. 请注意您的浏览器对各银行网银的拦截，建议使用IE浏览器进行充值。</li>
            <li>2. 您的充值手续费由平台支付，免除所有充值手续费。</li>
            <li>3. 请确认您的银行卡已开通银行网银功能。</li>
            <li>4. 请注意您的网银充值额度限制，以免造成不便。</li>
            <li>5. 如果充值金额没有及时到账，请与网站客服联系。</li>
        </ul>
    </div>
</div>