<div class="space-30"></div>
<div class="space-20"></div>
{{#if !authenticated}}
<div class="open-account-wrapper">

    <div class="errorNotOpenedYet" style="text-align:center">
        <span class="glyphicon glyphicon-exclamation-sign exclamation" style="color:#ff7200"></span> 重要提示：实名认证操作关系到您的切身利益，请保护好帐号安全
    </div>

    <div class="account-form-wrapper">
        <form action="#" class="form-horizontal" style="text-align:center;">
            <div class="">
                <div class="" style="height:40px">
                    {{#if showErrorMessage}}
                    <div class="error-message">
                        {{ errorMessage }}
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="trueName">
                <label for="trueName" class="">真实姓名</label>
                <input type="text" class="check-name" name="name" id="trueName" value="{{ name }}" />
            </div>

            <div class="userIdNumber">
                <label for="userIdNumber" class="">身份证号</label>
                 <input type="text" class="check-name" id="userIdNumber" name="idNumber" value="{{idNumber}}" />
            </div>
            <div class="account-submit">
                <input type="button" value="立即认证" on-click="register-account-submit" class="btn info-submit" style="width:200px;height:40px;background:#009ada;border-color:#009ada;color:white;check-name"  />
            </div>
            <div style="background-color: #f4fcff;padding: 10px;width:700px;margin: 0 auto;text-align: left;margin-top: 50px;">
                <p class="tips" style="color:#f58220">温馨提示：</p>
                <p class="tips">1、 请正确输入您的身份证信息，一经绑定不可修改。</p>
            </div>
        </form>
    </div>
</div>
{{else}}
<!-- 已绑定 -->
<div class="account-opened-notice">
    <div class="ftips">
        <span class="glyphicon glyphicon-exclamation-sign exclamation" style="color:#ff7200"></span> 重要提示：实名认证操作关系到您的切身利益，请保护好帐号安全
    </div>
</div>
<div class="space-20"></div>
<div class="account-opened-wrapper">

    <div class="account-info-row">
        <label for="" class="text">真实姓名：</label>
        <span class="value">{{format.mask(authenticateInfo.name)}}</span>
    </div>
    <div class="account-info-row">
        <label for="" class="text">身份证号：</label>
        <span class="value">{{authenticateInfo.idNumber.substr(0,5)}}**********{{authenticateInfo.idNumber.substr(-3)}}</span>
    </div>
</div>
<div class="space-30"></div>
<div style="background-color: #f4fcff;padding: 10px; margin: 0 auto;">
    <p class="tips" style="color:#f58220">温馨提示：</p>
    <p class="tips">1、奇乐融用户须是年满18周岁的具有完全民事行为能力的自然人。</p>
    <p class="tips">2、填写的姓名和身份证号码须与您用于提现的银行卡信息一致。</p>
    <p class="tips">3、实名认证过程中遇到问题请联系客服：400-872-7676。</p>
</div>
{{/if}}
<div id="deposit-agreement-wraper">

</div>
<div class="img-wrapperau"></div>