{{#if !authenticated}}
<div class="open-account-wrapper">

    <div class="errorNotOpenedYet">
        <span class="glyphicon glyphicon-exclamation-sign exclamation"></span> 您尚未进行实名认证，未实名认证将无法进行，绑卡、充值、提现、投资等操作。
    </div>

    <div class="account-form-wrapper">
        <form action="#" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">

                    {{#if showErrorMessage}}
                    <div class="error-message">
                        
                        {{ errorMessage }}
                    </div>
                    {{/if}}

                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-2 control-label">真实姓名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" value="{{ name }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-2 control-label">身份证号</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="idNumber" value="{{idNumber}}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="agreement-wrapper">
                        <input type="checkbox" checked="{{ licenseAgreed }}" />我已阅读并同意
                        <a href="#" on-click="maskDepositAgreement">《奇乐融实名认证协议》</a>
                    </div>

                    <div>
                        <input type="button" value="立即认证" on-click="register-account-submit" class="btn btn-success"
                        />
                    </div>

                </div>

            </div>
                <p class="tips" style="color:red">温馨提示：</p>
                <p class="tips">1、	账户实名认证仅面向年满18岁的具有完全民事行为能力的自然人</p>
                <p class="tips">2、	填写的姓名、身份证信息需与您用于提现的银行卡账户名一致。为了保证后续交易提现，请认真如实填写相关信息。</p> 
        </form>
    </div>
</div>
{{else}}
<!-- 已绑定 -->
<div class="account-opened-notice">
    <div class="tips">
        <span class="glyphicon glyphicon-exclamation-sign exclamation"></span> 重要提示：实名认证操作关系到您的切身利益，请保护好帐号安全
    </div>
</div>
<div class="account-opened-wrapper">    

    <div class="account-info-row">
        <label for="" class="text">真实姓名</label>
        <span class="value">{{format.mask(authenticateInfo.name)}}</span>
    </div>
    <div class="account-info-row">
        <label for="" class="text">身份证号</label>
        <span class="value">{{authenticateInfo.idNumber.substr(0,5)}}**********{{authenticateInfo.idNumber.substr(-3)}}</span>
    </div>
</div>
     <p class="tips" style="color:red">温馨提示：</p>
    <p class="tips">1、	账户实名认证仅面向年满18岁的具有完全民事行为能力的自然人</p>
    <p class="tips">2、	填写的姓名、身份证信息需与您用于提现的银行卡账户名一致。为了保证后续交易提现，请认真如实填写相关信息。</p> 
{{/if}}
<div id="deposit-agreement-wraper">

</div>
