<form class="userInfo">
    <dl>
        <div class="item">
            <dt>
            <label>登录名:</label>
            </dt>
            <dd>
            {{loginName}}
            </dd>
        </div>
        <div class="item">
            <dt>
            <label>姓名:</label>
            </dt>
            <dd>
            {{name}}
            </dd>
        </div>
        <div class="item">
            <dt>
            <label>手机号:</label>
            </dt>
            <dd>
            {{mobile}}
            </dd>
        </div>
        <div class="item">
            <dt>
            <label>邮箱:</label>
            </dt>
            <dd>
            {{email}}
            </dd>
        </div>
    </dl>
</form>
