.main-container{
     background:#373737;  
}
.error-bg{
    height: 100%;
    width: 100%;
    background: #373737; 
}
.error-left{
  float: left;
    margin-top: 90px;
}
.error-right{
    float: right;
    font-size: 30px;
    color: #fff;
    margin-top: 264px;
/*    text-shadow: 5px 100px 100px black;*/
}
.main-error{
    width: 910px;
    margin: 0 auto;
    overflow: hidden;
}