<!--{{JSON.stringify(loan)}}-->
{{timeOpen}} {{#if loan.status == "FINISHED"||loan.status == "SETTLED"||loan.status == "CLEARED"}}
<div class="firstLine">
    <div class="tip">投资金额 </div>
<!--    <div class="tip">{{loan.rule.min}}元起投 </div>-->
<!--    <div class="highAmount">最高投资限额：{{loan.rule.max}}元</div>-->
<!--    <div class="highAmount">可投¥0.00元</div>-->
</div>
<p class="finished-money">可投金额&nbsp;&nbsp;&nbsp;<span style="color:#ff7200;font-size:20px;">0.00</span><span style="font-size:14px;">元</span></p>
<p class="finished-money">剩余时间&nbsp;&nbsp;&nbsp;<span style="font-size:14px;">已完成</span></p>
<p class="finished-money">可用余额&nbsp;&nbsp;&nbsp;<span style="font-size:14px;">{{#if user.availableAmount}}{{user.availableAmount}}{{else}}0{{/if}}元</span></p>
               <div class="col-sm-8" style="width:300px;padding:0;margin-left:24px;line-height:38px;text-align:right;border:1px solid #ccc;border-radius:3px;background-color:#eee;">
                    <input type="text" class="form-control col-sm-8 form_input loanmoney" {{#if loan.status == "FINISHED"||loan.status == "SETTLED" || loan.status == "CLEARED" }} disabled{{/if}} placeholder="请输入投资金额"  style="width:274px;border: 0;border-radius: 0;box-shadow:none;text-align:left;height:38px;"/><span>元&nbsp;&nbsp;</span>
                </div>
<p class="finished-money">预期收益&nbsp;&nbsp;&nbsp;<span style="color:#ff7200;">0.00</span><span style="font-size:14px;">元</span></p>
{{#if loan.status == "FINISHED"}}
<button class="finished-btn">已满标</button>{{/if}}{{#if loan.status == "SETTLED"}}
<button class="finished-btn">还款中</button>{{/if}}{{#if loan.status == "CLEARED"}}
<button class="finished-btn">还款结束</button>{{/if}}
<!--<button class="finished-btn">还款结束</button>-->
<!--<img src="/ccc/loan/img/full.png" class="finishBlock"> -->
{{/if}} 
 {{#if loan.status == "ARCHIVED" }}
<div class="firstLine">
    <div class="tip">{{loan.rule.min}}元起投 </div>
    <div class="highAmount">最高投资限额：{{loan.rule.max}}元</div>
</div>
<img src="/ccc/loan/img/over.png" class="cleared"> 
{{/if}}  
{{#if loan.status == "SCHEDULED" }}
<div class="status">
    <div class="info">
		 <div class="leftMoney">
			<h1 class="red"> 账户余额：¥<span class="left-money">
				{{#if user.availableAmount}}
				{{#if user.availableAmount.length>8}}
					{{user.availableAmount.substr(0,5)}}...
                {{else}}
                    {{user.availableAmount}}
				{{/if}}
				{{else}}0{{/if}}
                </span>
			 </h1>
         	<a href="/newAccount/recharge" class="recharge">充值</a>
         </div>
<!--
        <div class="firstLine">
            <div class="tip">{{loan.rule.min}}元起投 </div>
            <div class="highAmount">最高投资限额：{{loan.rule.max}}元</div>
			
        </div>
-->
        <div class="userBlock" id="userBlock">
           
            <div class="input">
                <div class="calculatorBox calculatorBox1">
                    <div class="calculator">
                        <span class="glyphicon glyphicon-minus" style="top:0;" on-click="reduce"></span>
                        <input type="hidden" name="loanId" value="{{loan.id}}">
                        <input placeholder="{{loan.rule.min}}" type="text" value="{{ inputNum }}">
                        <span class="glyphicon glyphicon-plus" style="top:0;" on-click="add"></span>
                    </div>
					 <span class="topAmount" on-click="maxNumber">最大可投金额</span>
                </div>
<!--                <p class="totalInterest">预估总收益 {{(loan.totalInterest * (inum||0) / loan.originalAmount).toFixed(2)}}元</p>-->
				<p class="rule-max">单笔最多可投：{{loan.rule.max}}元</p>
                {{#if user}}
               
                    <input type="submit" class="finished-btn" value="即将开始" />
               
                {{else}}
                <a href="/login">
                    <input type="submit" class="btn btn-warning invest-button" value="立即登录" />
                </a>
                {{/if}}
            </div>
            <div class="investbtn" data-id="{{ loan.id }}" data-status="{{ loan.status }}" data-open="{{ loan.timeOpen }}" data-serv="{{serverDate}}" style="color: black;width: 155px;text-align: center;background:#fff;margin-left:-25px"></div>

            <p class="left-time-start">距离开标时间还有xx小时xx分xx秒</p>
        </div>
    </div>
</div>
{{/if}} 

{{#if loan.status == "OPENED"}}
<div class="status">
    <div class="info">
      
        <div class="userBlock" id="userBlock">
            {{#if user}} {{! 已登录,但是没开第三方支付 }} 
			{{#if !name}}
               <div class="leftMoney-open">账户余额：¥&nbsp;<i class="red">{{user.availableAmount}}</i>
                <a href="/newAccount/recharge" class="recharge"><button>充值</button></a>
            </div>
			<div class="calculatorBox">
			 <div class="calculator">
                            <span class="glyphicon glyphicon-minus" style="top:0;" on-click="reduce"></span>
                            <input type="hidden" name="loanId" value="{{loan.id}}">
                            <input placeholder="{{loan.rule.min}}"  name="amount" type="text" value="{{ inputNum }}" on-blur="getCoupon" />
                            <span class="glyphicon glyphicon-plus" style="top:0;" on-click="add"></span>
                        </div>
				 <span class="topAmount" on-click="maxNumber">最大可投金额</span>
			</div>
			<p class="one-time-max">单笔最多可投：{{loan.rule.max}}元</p>
                       
                        <div class="clearfix"></div>
            <div class="prompt-open-3rdpay">
                <p class="shiming">您的账户尚未实名认证，认证后可投资</p>
            </div>
            <div class="invest-button-wrapper">
                <a class="btn btn-warning open-button"  href="/newAccount/settings/authentication">立即认证</a>
            </div>
            {{else}} {{! 已登录 }} {{! 未签订无密投资}}

            <div class="leftMoney-open">账户余额：¥&nbsp;<i class="red">{{user.availableAmount}}</i>
                <a href="/newAccount/recharge" class="recharge"><button>充值</button></a>
            </div>
            <div class="input">
                <form action="/lianlianpay/tender" name="investForm" method="POST" class="invest-form" target="_blank" on-submit="invest-submit">
                    <div class="calculatorBox">
                        <div class="calculator">
                            <span class="glyphicon glyphicon-minus" style="top:0;" on-click="reduce"></span>
                            <input type="hidden" name="loanId" value="{{loan.id}}">
                            <input placeholder="{{loan.rule.min}}"  name="amount" type="text" value="{{ inputNum }}" on-blur="getCoupon" autocomplete="off"/>
                            <span class="glyphicon glyphicon-plus" style="top:0;" on-click="add"></span>
                        </div>
                        <span class="topAmount" on-click="maxNumber">最大可投金额</span>
                        <div class="clearfix"></div>
                        <p class="p-max">单笔最多可投：{{loan.rule.max}}元</p>

                    <div class="selectOption">
                        <select name="placementId" id="couponSelection" value="{{coupon}}">                       
                            {{#if selectOption}}
                                <option value="">请选择可用的红包</option>
                                {{#each selectOption}}
                                    {{#if !hide&&!canuse}}
                                        <option value="{{ id }}" {{#if canuse}}disabled{{/if}}>{{ displayValue }}{{ typeKey }} - 最低投资额：{{ minimumInvest }}</option>
                                    {{/if}}
                                {{/each}}
                            {{else}}
                                <option value="">暂无可用券</option>
                            {{/if}}
                        </select>
                    </div>
						<div class="password-box">
					<div class="password">
                    	<input class="trade-password" type="password" placeholder="请输入交易密码" name="paymentPassword" value="{{paymentPassword}}" autocomplete="off"/>
					</div>
						<p><a href="/newAccount/settings/password" style="font-size:14px">忘记交易密码？</a></p>
						</div>
                    <input style="display:none" type="password" placeholder="请输入交易密码" />                  
                        <input type="submit" class="btn btn-warning invest-button" value="确认投资" />
						<p class="agree-box">
							<input type="checkbox" class="agree" checked id="agree"/>
							<span>我同意
                                    {{#if loan.productKey==="LTB"}}
                                <a href="/agreement/mobile/protocolltb" target="_blank">《乐投保投资服务协议》</a>
                                   {{elseif loan.productKey==="LXY"}}
                                 <a href="/agreement/mobile/protocollxy" target="_blank">《乐享盈投资服务协议》</a>
                                 {{else}}
                                 <a href="/agreement/mobile/protocol" target="_blank">《用户投资服务协议》</a>
                                 {{/if}}
                            </span>
						</p>
						<p class="agree-error"></p>
                    </div>
  
                    {{#if errors.visible}}
                    <div class="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <span class="glyphicon glyphicon-exclamation-sign icon"></span>
                            <span class="text">{{ errors.msg }}</span>
                        </div>
                    </div>
                    {{/if}}
                </form>
            </div>

            {{/if}} {{else}}
			
			<p class="left-money login-see">
                账户余额：<a href="/login" style="color:#009ada;">登录</a> 后可见
            </p>
            <div class="firstLine" style="padding:0px;">
<!--
				<div class="tip">{{loan.rule.min}}元起投 </div>
				<div class="highAmount">最高投资限额：{{loan.rule.max}}元</div>
-->
        	</div>
            

            <div class="calculatorBox">
                <div class="calculator">
                    <span class="glyphicon glyphicon-minus" style="padding:0;margin:0;top:0;" on-click="reduce"></span>
                    <input placeholder="{{loan.rule.min}}" type="text" value="{{ inputNum }}">
                    <span class="glyphicon glyphicon-plus" style="top:0;" on-click="add"></span>
                </div>
                <span class="topAmount" on-click="">最大可投金额</span>
            </div>
			<p class="one-time-max">单笔最多可投：{{loan.rule.max}}元</p>
<!--            <p class="totalInterest">预估总收益 {{(loan.totalInterest * (inum||0) / loan.originalAmount).toFixed(2)}}元</p>-->

            <a href="/login?url={{backUrl}}" class="loginBtn">
                            立即登录
                        </a> {{/if}}
        </div>
    </div>
</div>
{{/if}}
