.ccc-login-wrap {
    .item-msg {
        clear: both;
        span {
            &.error {
                color: #c43;
            }
        }
    }
    .error-wrap {
        .error-content {
            padding: 0px 76px 22px 150px;
            color: #c43;
        }
    }
    .item-c span {
      padding-left: 145px;
      padding-top: 10px;
      display: block;
      font-size: 12px;
    }
    
    .item-c input {
        height: 36px;
        width: 418px;
        font-family: "Î¢ÈíÑÅºÚ";
        font-size: 14px;
        margin-left: 15px;
        color: #999;
        padding-left: 10px;
        border: 1px solid #e3e8ea;
        line-height: 36px;
    }
    .item-c {
        margin-bottom: 20px;
    }
    .label-c {
        width: 50px;
        float: left;
        text-align: left;
        line-height: 38px;
        padding-left: 80px;
    }
    .sjjr-w288-c input {
        width: 288px;
        float: left;
        margin-right: 10px;
    }
    .item2-c {
        margin-bottom: 30px;
        padding-left: 147px;
    }

    .item2-c b {
        font-weight: normal;
        color: #999;
    }

    .item2-c a {
        text-align: left;
        margin-right: 180px;
        color: #2b94d9;
        text-decoration: none;
    }
    .item2-c {
        &.item2-c-2 a {
            margin-right: 100px;
        }
    }
    .item2-c a:hover {
        text-decoration: underline;
    }
    
    .captcha-wp {
        width: 122px;
        height: 40px;
    }
    .captcha-img {
        width: 120px;
        height: 38px;
        background: #E5ECEE;
        border: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .btn-login {
        border: none;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
        &.disabled {
            opacity: 0.7;
            cursor: default;
        }
    }
    .remember-me {
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
}

// for popup login
.ccc-popup-login {
    .Dcontent {
        padding-top: 40px;
    }
    .login-bottom {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0 22px 0;
        > p {
            text-align: center;
            padding-top: 6px;
            color: #777;
            > a {
                color: #2b94d9;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .login_hr {
        height:1px;
        border-top:1px solid #dddddd;
    }
    .login_buy {
        width:300px;
        height:40px;
        margin: 10px auto 3px auto;
        background-color:#2b94db;
        text-indent:60px;
        line-height:40px;
        font-size:16px;
        color:#fff;
        letter-spacing:2px;
        margin-top:25px;
        cursor:pointer;
        border-radius:3px;
        display: block; // from div to a
    }
}