#main-container {
	margin-top: 7px;
	background-color: #f6f8fc;
}
.nav-tabs > li.active > a {
	pointer-events: none;
}
.current-container {
	width: 1100px;
	margin: 0 auto;
	/*  margin-top: 30px;*/
}

.after-header {
	margin-top: 45px;
	padding-bottom: 20px;
}

.after-header .current-container {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
}

.after-header .invest-usage {
	font-size: 1.5em;
	color: #000;
	float: left;
}

.after-header .risk-level {
	font-size: 1em;
	float: left;
	color: #2693ce;
	margin-top: 6px;
	margin-left: 10px;
}

.after-header .risk-level > .question-mark {
	color: #7ea9c9;
}

.after-header .risk-level .tooltip-container .tooltip-arrow {
	border-right-color: #f3f8fc;
}

.after-header .risk-level .tooltip-container .tooltip-inner {
	background-color: #f3f8fc;
	color: #568398;
	max-width: 330px;
}

.after-header .name {
	float: right;
	margin-right: 12px;
	margin-top: 8px;
}

.after-header .name a {
	color: #333;
}

.after-header .name a:hover {
	color: #0387CF;
}

.invest-data-wrapper {
	width: 730px;
	float: left;
	background: #fff;
	border-radius: 3px;
}

.invest-data-wrapper .investContainer {
	width: 730px;
	height: 315px;
	/*	border: 1px solid #eee;*/
	/*  margin: 0 25px;*/
}

.invest-data-wrapper .investContainer .investTitle {
	overflow: hidden;
}

.invest-data-wrapper .investContainer .investTitle .serial {
	height: 15px;
	line-height: 15px;
	color: #939393;
	font-size: 12px;
	/*  font-weight: bold;*/
}

.invest-data-wrapper .investContainer .investTitle .title {
	font-size: 20px;
	/*  font-weight: bold;*/
	
	color: #009ada;
	float: left;
	/*	width: 500px;*/
	
	word-break: break-all;
}

.invest-data-wrapper .investContainer .investTitle .title img {
	margin-left: 20px;
	margin-right: 12px;
}

.invest-data-wrapper .investContainer .investTitle .protocol {
	font-size: 14px;
	color: #b5a16b;
	text-decoration: underline;
	float: right;
	line-height: 40px;
}

.invest-data-wrapper .investContainer .loanbottom {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #c7c7c8;
}

.invest-data-wrapper .investContainer .loanbottom .swra {
	position: relative;
	display: inline-block;
	width: 150px;
	text-align: left;
	text-indent: 20px;
}

.invest-data-wrapper .investContainer .loanbottom .swra .circle {
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: 14px;
}

.invest-data-wrapper .investContainer .loanbottom .swra .yel {
	background: #ffd700;
}

.invest-data-wrapper .investContainer .loanbottom .swra .red {
	background: red;
}

.invest-data-wrapper .investContainer .content {
	height: 180px;
}

.invest-data-wrapper .investContainer .content .inner {
	height: 130px;
	border-top: 1px solid #eeeeee;
	padding-top: 33px;
	padding-bottom: 13px;
	/*  margin-top: 20px;*/
}

.invest-data-wrapper .investContainer .content .inner .item {
	float: left;
	width: 125px;
	height: 100%;
	margin-right: 5px;
	text-indent: 20px;
}

.invest-data-wrapper .investContainer .content .inner .item.itemFirst {
	width: 240px;
	border-left: 1px solid #eee;
}

.invest-data-wrapper .investContainer .content .inner .item.itemFirst .value {
	color: #ff7200;
}

.invest-data-wrapper .investContainer .content .inner .item.itemSecond {
	width: 240px;
	border-right: 1px solid #eee;
}

.invest-data-wrapper .investContainer .content .inner .item.itemSecond .name img {
	margin-left: 30px;
}

.invest-data-wrapper .investContainer .content .inner .item.itemSecond .value {
	margin-left: 66px;
	color: #4a4a4a;
}

.invest-data-wrapper .investContainer .content .inner .item.itemThird {
	width: 205px;
	margin-right: 0px;
	border-right: 1px solid #eee;
}

.invest-data-wrapper .investContainer .content .inner .item .name {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #4a4a4a;
	font-size: 14px;
}

.invest-data-wrapper .investContainer .content .inner .item .name img {
	margin-right: 10px;
}

.invest-data-wrapper .investContainer .content .inner .item .value {
	margin-top: 5px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-left: 34px;
	color: #4a4a4a;
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif, Hiragino Sans GB;
}

.invest-data-wrapper .investContainer .content .inner .item .value span {
	position: relative;
	font-size: 18px;
	top: -1px;
	color: #4a4a4a;
}

.invest-data-wrapper .investContainer .content .innerBottom {
	/*  margin-top: 25px;*/
	
	overflow: hidden;
}

.invest-data-wrapper .investContainer .content .innerBottom .process {
	/*	float: right;*/
}

.invest-data-wrapper .investContainer .content .innerBottom ul {
	display: inline-block;
	overflow: hidden;
	float: right;
	position: relative;
	height: 80px;
	margin-top: 30px;
}

.invest-data-wrapper .investContainer .content .innerBottom ul div {
	position: absolute;
	right: 35px;
	bottom: 0;
	color: #009ada;
	font-family: '微软雅黑';
}

.invest-data-wrapper .investContainer .content .innerBottom ul li {
	float: left;
	font-family: '微软雅黑';
	color: #999;
}

.invest-data-wrapper .investContainer .content .innerBottom .itemt {
	font-size: 14px;
	color: #999;
}

.invest-data-wrapper .investContainer .content .innerBottom .pic {
	width: 130px;
	height: 130px;
	float: left;
	margin-left: 60px;
	margin-top: 16px;
	position: relative;
}

.invest-data-wrapper .investContainer .content .innerBottom .protocol {
	font-size: 14px;
	font-weight: normal;
	width: 100%;
	text-align: left;
	color: #009ada;
}

.invest-data-wrapper .investContainer .content .innerBottom .itemt .leftAmount {
	margin-left: 30px;
}

.invest-data-wrapper .investContainer .content .innerBottom .itemt .leftAmount span {
	color: #009ada;
	font-size: 18px;
}

.invest-data-wrapper .investContainer .content .innerBottom .itemt .goldenDot {
	color: #b5a16b;
	margin-right: 5px;
}

.invest-data-wrapper .investContainer .content .innerBottom .itemt .blueDot {
	color: #232B50;
	margin-right: 5px;
}

.invest-data-wrapper .investContainer .content .innerBottom .right {
	float: left;
	width: 250px;
	height: 100%;
}

.invest-data-wrapper .investContainer .content .innerBottom .right .itemt {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.invest-data-wrapper .investContainer .content .innerBottom .right .itemt .percentWrapper {
	float: right;
	width: 150px;
	height: 50px;
	position: relative;
	right: 33px;
	top: 11px;
	color: transparent;
	height: 12px;
	border-radius: 8px;
	background-color: #E1E1E1;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}

.invest-data-wrapper .investContainer .content .innerBottom .right .itemt .percentWrapper .percent {
	height: 12px;
	background: #324075;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 0;
}

.invest-data-wrapper .investContainer .content .innerBottom .right .itemt .percentWrapper .realPercent {
	width: 150px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	height: 12px;
	line-height: 12px;
	color: #fff;
}

.invest-data-wrapper .investContainer .invest-datas {
	margin-top: 30px;
}

.invest-data-wrapper .investContainer .invest-datas .row-1 {
	margin-left: -45px;
}

.invest-data-wrapper .investContainer .invest-datas .row-1 > li {
	float: left;
	margin-left: 55px;
}

.invest-data-wrapper .investContainer .invest-datas .row-1 > li .num {
	font-size: 150%;
	font-family: 'Rounded Helvetica', Helvetica;
	font-weight: 700;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 {
	margin-left: -35px;
	margin-top: 30px;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 > li {
	float: left;
	margin-left: 45px;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 .date {
	font-family: 'Rounded Helvetica', Helvetica;
	font-weight: 700;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 .num {
	font-family: 'Rounded Helvetica', Helvetica;
	font-weight: 700;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 .row-2-1 {
	color: #000;
	font-size: 16px;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 .row-2-2 {
	color: #979797;
}

.invest-data-wrapper .investContainer .invest-datas .row-2 .invest-data-text {
	font-size: 12px;
	color: #838383;
}

.invest-data-wrapper .investContainer .insurance-datas {
	margin-top: 60px;
	width: 95%;
	height: 40px;
	background-color: #f4f4f4;
	text-align: center;
}

.invest-data-wrapper .investContainer .insurance-datas .insurance-company {
	color: #545454;
	font-size: 15px;
	line-height: 40px;
	vertical-align: middle;
}

.invest-data-wrapper .investContainer .insurance-datas .insurance-type {
	color: #0387cf;
	font-size: 16px;
	line-height: 40px;
	vertical-align: middle;
	margin-left: 10px;
}

.invest-data-wrapper .investContainer .insurance-datas .insurance-type a,
.invest-data-wrapper .investContainer .insurance-datas .insurance-type a:focus,
.invest-data-wrapper .investContainer .insurance-datas .insurance-type a:hover {
	color: #535353;
}

.do-invest-wrapper {
	/*	position: relative;*/
	
	float: right;
	width: 350px;
	/*	height: 315px;*/
	
	background-color: #fff;
	border-radius: 3px;
	text-align: center;
	border-left: solid #eee 1px;
	/*background-image: url(/assets/img/box_bj.jpg);*/
	
	min-height: 350px;
}

.do-invest-wrapper .tooltip {
	top: 10px;
	left: 29px;
	opacity: 1;
	display: block;
}

.do-invest-wrapper .tooltip .tooltip-arrow {
	position: absolute;
	border-width: 5px 5px 0;
	border-top-color: #fdf8e4;
	bottom: -5px;
	left: 10%;
}

.do-invest-wrapper .tooltip .tooltip-inner {
	padding: 5px 10px;
	background-color: #fdf8e4;
	max-width: 330px;
	color: #c09956;
}

.do-invest-wrapper .tooltip .tooltip-inner .icon {
	color: #fe0002;
	margin-right: 5px;
}

.do-invest-wrapper .status {
	background: #f5f5f5;
}

.do-invest-wrapper .status .info {
	background-color: #fff;
	border-radius: 3px;
}

.firstLine {
	overflow: hidden;
	padding: 0px 30px;
}

.renzheng {
	margin-left: 30px;
	margin-right: 30px;
}

.firstLine .tip {
	float: left;
	line-height: 50px;
	font-size: 18px;
	color: #4a4a4a;
	/*    margin-left: 30px;*/
}

.firstLine .highAmount {
	float: right;
	line-height: 50px;
	font-size: 14px;
	color: #4a4a4a;
	/*    margin-right: 30px;*/
}

.do-invest-wrapper .status .info .valiableInvest {
	float: left;
	width: 160px;
	display: inline-block;
	text-align: left;
	text-indent: 26px;
}

.do-invest-wrapper .status .info .valiableInvest .tip {
	font-size: 16px;
	color: #6b6b6b;
}

.do-invest-wrapper .status .info .valiableInvest .money {
	color: #222d4f;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 12px;
}

.do-invest-wrapper .status .info .time {
	width: 180px;
	height: 30px;
	color: #222d4f;
	font-size: 14px;
	float: right;
}

.do-invest-wrapper .status .info .time i.clock {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("/ccc/loan/img/icon.png") no-repeat 0px 0px;
	vertical-align: middle;
}

.do-invest-wrapper .status .info .time i {
	font-style: normal;
	margin: 0px 2px;
}

.do-invest-wrapper .status .userBlock {
	background-color: #fff;
	font-size: 16px;
	color: #6b6b6b;
	position: relative;
	overflow: hidden;
}

.do-invest-wrapper .status .leftMoney {
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
	text-align: left;
	/*	padding-left: 10px;*/
	
	overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
}

.do-invest-wrapper .status .leftMoney h1 {
	display: inline;
	font-size: 16px;
	color: #4b4b4b;
	line-height: 50px;
	font-family: '微软雅黑';
}

.do-invest-wrapper .status .leftMoney h1 .left-money {
	font-size: 20px;
	color: #ff7200;
}

.do-invest-wrapper .status .userBlock .leftMoney-open {
	font-size: 16px;
	color: #4b4b4b;
	text-align: left;
	margin-bottom: 5px;
	/*    text-indent: 15px;*/
	
	padding-top: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 14px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: '微软雅黑';
}

.do-invest-wrapper .status .userBlock .leftMoney-open .recharge {
	float: right;
	display: block;
}

.do-invest-wrapper .status .userBlock .leftMoney .red {
	color: #ff7200;
	font-style: normal;
	font-size: 20px;
}

.do-invest-wrapper .status .userBlock .leftMoney-open .red {
	color: #ff7200;
	font-style: normal;
	font-size: 20px;
}

.do-invest-wrapper .status .leftMoney .recharge {
	float: right;
	color: white;
	text-decoration: none;
	width: 80px;
	background-color: #f58220;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	margin-top: 9px;
	margin-right: 2px;
	font-family: '微软雅黑';
	height: 30px;
}

.do-invest-wrapper .status .leftMoney .recharge:hover {
	background-color: #df6502;
}

.do-invest-wrapper .status .userBlock .open-button {
	width: 320px;
	height: 40px;
	background-color: #009ada;
	border: none;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 5px;
}

.do-invest-wrapper .status .userBlock .open-button:hover {
	background-color: #015989;
}

.do-invest-wrapper .status .userBlock .sign-button {
	width: 220px;
	height: 40px;
	/* float: left; */
	
	background: #b5a16b;
	color: #fff;
	line-height: 30px;
	font-size: 16px;
}

.do-invest-wrapper .status .userBlock .input .expect {
	font-size: 13px;
	float: left;
	text-indent: 15px;
	margin-bottom: 3px;
}

.do-invest-wrapper .status .userBlock .input .selectOption {
	clear: both;
	text-align: left;
	margin-top: 5px;
}

.do-invest-wrapper .status .userBlock .input .selectOption select {
	background: #fff;
	height: 40px;
	color: #6b6b6b;
	font-size: 14px;
	width: 318px;
	border: none;
	line-height: 20px;
	text-indent: 8px;
	border: 1px solid #ccc;
}

.do-invest-wrapper .status .userBlock .input .invest-input {
	width: 220px;
	float: left;
}

.do-invest-wrapper .status .userBlock .input .invest-button {
	height: 44px;
	width: 319px;
	color: #fff;
	background-color: #009ada;
	font-size: 18px;
	line-height: 36px;
	/*    padding: 1px;*/
	
	border: none;
	margin-top: 20px;
	font-family: '微软雅黑';
	letter-spacing: 5px;
}

.do-invest-wrapper .status .userBlock .input .btn-warning1 {
	width: 323px;
}

.do-invest-wrapper .status .userBlock .input .invest-button:hover {
	background-color: #0287be;
}

.do-invest-wrapper .status .userBlock .left-money {
	color: #999;
	text-align: left;
	font-size: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-top: 13px;
	padding-left: 30px;
	font-weight: normal;
	font-family: '微软雅黑';
}

.do-invest-wrapper .status .userBlock .login-see {
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 0;
}

.do-invest-wrapper .status .userBlock .p-max {
	color: #999;
	text-align: left;
	font-size: 14px;
	font-family: '微软雅黑';
	line-height: 30px;
}

.do-invest-wrapper .status .userBlock .one-time-max {
	color: #999;
	text-align: left;
	font-size: 12px;
	font-family: '微软雅黑';
	line-height: 30px;
	margin-left: 15px;
}

.do-invest-wrapper .status .userBlock .agree-error {
	font-size: 12px;
	color: #d2252c;
	background-image: url(/ccc/register/img/gou-bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	visibility: hidden;
	text-align: left;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	margin-bottom: 5px;
}

.do-invest-wrapper .status .userBlock .agree-box {
	/*	width: 212px;*/
	/*	display: inline-block;*/
	/*	margin: auto;*/
}

.do-invest-wrapper .status .userBlock .agree-box span,
.do-invest-wrapper .status .userBlock .agree-box span a {
	font-size: 12px;
}

.do-invest-wrapper .status .userBlock .agree-box span a {
	color: #009ada;
}

.do-invest-wrapper .status .userBlock .shiming {
	text-align: center;
	text-align: left;
	margin-left: 15px;
	color: #d4242f;
	font-size: 12px;
	margin-bottom: 10px;
}

.do-invest-wrapper .status .userBlock .rule-max {
	margin-left: 15px;
	text-align: left;
	font-size: 12px;
	color: #999;
	font-family: '微软雅黑';
	line-height: 30px;
}

.do-invest-wrapper .status .userBlock .loginBtn {
	height: 44px;
	color: #fff;
	background-color: #009ada;
	font-size: 18px;
	line-height: 44px;
	padding: 0;
	border: none;
	display: block;
	width: 318px;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 10px;
	text-decoration: none;
	font-family: '微软雅黑';
	letter-spacing: 5px;
}

.do-invest-wrapper .status .userBlock .loginBtn:hover {
	background-color: #0287be;
}

.do-invest-wrapper .finishBlock {
	vertical-align: middle;
	margin-top: 60px;
}

.do-invest-wrapper .cleared {
	margin-top: 67px;
}

.do-invest-wrapper .settled {
	margin-top: 58px;
}

.do-invest-wrapper .repayDuration {
	width: 200px;
	color: #000;
	font-size: 14px;
	background-color: #fff;
	position: absolute;
	top: 172px;
	text-align: center;
	left: 50%;
	margin-left: -100px;
}

.do-invest-wrapper .prompt-open-3rdpay h3 {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

.do-invest-wrapper .prompt-open-3rdpay p {
	margin-top: 15px;
	margin-bottom: 60px;
	color: #999;
}

.do-invest-wrapper .left-time {
	margin: 130px 0 60px;
	color: #666;
	font-size: 17px;
	text-align: center;
}

.do-invest-wrapper .left-time i {
	font-style: normal;
	font-size: 26px;
	color: #b5a16b;
	margin: 5px;
	font-family: sans-serif;
}

.do-invest-wrapper .left-time .text {
	text-align: center;
	margin-top: 10px;
}

.do-invest-wrapper .not-login-wrapper {
	text-align: center;
}

.do-invest-wrapper .not-login-wrapper .available-amount .big {
	font-size: 30px;
	color: #f5862c;
	margin-right: 5px;
}

.do-invest-wrapper .no-assign {
	text-align: center;
}

.do-invest-wrapper .invest-header {
	margin: 18px 0 15px;
}

.do-invest-wrapper .invest-header .text-invest {
	font-size: 20px;
	color: #000;
	float: left;
}

.do-invest-wrapper .invest-header .available-amount {
	float: right;
	margin-top: 5px;
}

.do-invest-wrapper .invest-header .available-amount > span {
	color: #f48229;
}

.do-invest-wrapper .invest-header .invest-status {
	float: right;
	margin-top: 5px;
	font-size: 16px;
}

.do-invest-wrapper .invest-not-available {
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.do-invest-wrapper .invest-input-wrapper {
	position: relative;
	margin-bottom: 10px;
}

.do-invest-wrapper .invest-input-wrapper > .rmb-symbol {
	position: absolute;
	font-size: 20px;
	left: 4px;
	top: 4px;
}

.do-invest-wrapper .invest-input-wrapper > .invest-input {
	padding-left: 25px;
}

.do-invest-wrapper .invest-input-wrapper .tooltip {
	top: 27px;
	left: 214px;
	opacity: 1;
	display: block;
}

.do-invest-wrapper .invest-input-wrapper .tooltip .tooltip-arrow {
	position: absolute;
	border-width: 5px 5px 0;
	border-top-color: #fdf8e4;
	bottom: -5px;
	left: 10%;
}

.do-invest-wrapper .invest-input-wrapper .tooltip .tooltip-inner {
	padding: 5px 10px;
	background-color: #fdf8e4;
	max-width: 200px;
	color: #c09956;
}

.do-invest-wrapper .invest-input-wrapper .tooltip .tooltip-inner .icon {
	color: #fe0002;
	margin-right: 5px;
}

.do-invest-wrapper .para3 .rest-money {
	float: left;
}

.do-invest-wrapper .para3 .charge {
	float: right;
}

.do-invest-wrapper .para3 .charge a,
.do-invest-wrapper .para3 .charge a:hover {
	color: orange;
}

.do-invest-wrapper .selectOption {
	height: 40px;
}

.do-invest-wrapper .selectOption .sif {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.do-invest-wrapper .invest-progress-wrapper {
	margin-top: 5px;
}

.do-invest-wrapper .invest-progress-wrapper .invest-progress {
	width: 220px;
	background-color: #f5f5f5;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-top: 5px;
	float: left;
}

.do-invest-wrapper .invest-progress-wrapper .invest-progress .invest-progress-bar {
	background-color: #12adff;
	border-radius: 5px;
	height: 7px;
}

.do-invest-wrapper .invest-progress-wrapper .invest-progress-percent {
	margin-left: 13px;
	float: left;
	color: #0292fd;
	font-size: 10px;
}

.do-invest-wrapper .invest-progress-wrapper .time-left {
	float: left;
	color: #999;
}

.do-invest-wrapper .invest-button-wrapper {
	/*	margin: 20px auto 0;*/
	
	text-align: center;
}

.do-invest-wrapper .invest-button-wrapper .invest-button {
	width: 220px;
	height: 40px;
	float: left;
	background: #b5a16b;
}

.invest-info-wrapper > .current-container {
	background-color: #f7f5f6;
	background-image: url(/assets/img/zl_bj.png);
	padding-top: 25px;
	width: 998px;
	height: 329px;
}

.invest-info-wrapper .invest-info {
	float: left;
}

.invest-info-wrapper .invest-info .text-invest-info {
	margin-left: 15px;
	color: #000;
	font-size: 18px;
}

.invest-info-wrapper .invest-info .info {
	margin: 20px 70px 0;
}

.invest-info-wrapper .invest-info .info .col-1,
.invest-info-wrapper .invest-info .info .col-2 {
	float: left;
	font-size: 13px;
}

.invest-info-wrapper .invest-info .info .col-1 > li,
.invest-info-wrapper .invest-info .info .col-2 > li {
	width: 225px;
	margin-bottom: 15px;
}

.invest-info-wrapper .invest-info .info .col-1 .text,
.invest-info-wrapper .invest-info .info .col-2 .text {
	margin-right: 20px;
	display: inline-block;
	color: #7b7b7b;
}

.invest-info-wrapper .invest-info .info .col-1 .value,
.invest-info-wrapper .invest-info .info .col-2 .value {
	width: 125px;
	color: #000;
}

.invest-info-wrapper .invest-info .info .col-2 {
	margin-left: 30px;
}

.invest-info-wrapper .invest-info .info .col-2 > li {
	width: 180px;
	margin-bottom: 15px;
}

.invest-info-wrapper .insurance-info {
	float: left;
}

.invest-info-wrapper .insurance-info .text-related-data {
	margin-left: 15px;
	color: #000;
	font-size: 18px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper {
	width: 300px;
	margin-top: 20px;
	margin-left: 70px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .insurance {
	height: 190px;
	position: relative;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .insurance .preview {
	background-color: #abc;
	width: 300px;
	height: 190px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .insurance .insurance-intro {
	width: 300px;
	height: 30px;
	position: absolute;
	bottom: 0;
	background-color: rgba(30, 30, 30, 0.5);
	text-align: center;
	line-height: 30px;
	color: #fff;
	visibility: hidden;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .insurance:hover .insurance-intro {
	visibility: visible;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler {
	margin-top: 14px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .left,
.invest-info-wrapper .insurance-info .insurance-wrapper .controler .right {
	display: inline-block;
	float: left;
	height: 20px;
	width: 15px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .left {
	background-image: url(/assets/img/invest/detail/left-arrow.png);
	background-position: 0 1px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .right {
	background-image: url(/assets/img/invest/detail/right-arrow.png);
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .selectors-wrapper {
	float: left;
	height: 20px;
	width: 240px;
	margin: 0 5px;
	overflow: hidden;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .selectors-wrapper .selectors {
	float: left;
	width: 9999px;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .selectors-wrapper .selectors .selector {
	float: left;
	height: 20px;
	width: 35px;
	margin-left: 5px;
	border-radius: 2px;
	background-color: #aaa;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .selectors-wrapper .selectors .selector img {
	width: 35px;
	height: 20px;
	border-radius: 5px;
	vertical-align: baseline;
}

.invest-info-wrapper .insurance-info .insurance-wrapper .controler .selectors-wrapper .selectors .active img {
	border: 1px solid #f00;
}

.invest-detail-wrapper .scontent {
	min-height: 800px;
	background: #fff;
	/*	margin-top: 20px;*/
	
	width: 749px;
	margin-left: 0;
	float: left;
	border-right: 1px solid #eee;
	border-top: none;
}

.invest-detail-wrapper .nav-tabs {
	/*	border: solid 1px #eee;*/
	
	border-left: none;
	border-right: none;
	margin: 0 5px 0 5px;
	border-color: #ccc;
}

.invest-detail-wrapper {
	width: 1100px;
	margin: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	margin-top: 15px;
	background-color: #fff;
}

.invest-detail-wrapper .nav-tabs li {
	/*	border-right: 1px solid #eee;*/
}

.invest-detail-wrapper .nav-tabs li a {
	display: block;
	border-radius: 0;
	margin-right: 0;
	color: #999;
	width: 132px;
	height: 52px;
	line-height: 40px;
	font-weight: normal;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background: #fff;
	font-size: 18px;
	font-family: '微软雅黑';
}

.invest-detail-wrapper .nav-tabs .active a,
.invest-detail-wrapper .nav-tabs .active a:focus {
	font-size: 18px;
	border: none;
	text-align: center;
	color: #4a4a4a;
	background: #fff;
	border-bottom: 2px solid #009ada;
}

.invest-detail-wrapper .tab-panels {
	margin-top: 60px;
}

.invest-detail-wrapper .tab-panels .tab-panel .invest-record .repay-plan {
	width: 670px;
	margin: 0px auto;
}

.invest-detail-wrapper .tab-panels .tab-panel .invest-record .repay-plan thead tr {
	line-height: 25px;
	color: #232d4f;
	font-size: 14px;
	background-color: #e8e8e8;
}

.invest-detail-wrapper .tab-panels .tab-panel .invest-record .repay-record thead th {
	width: 16%;
	color: #777777;
	height: 40px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper {
	width: 730px;
	min-height: 500px;
	margin: 20px auto;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfo {
	float: left;
	width: 670px;
	min-height: 500px;
	margin-left: 30px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfo .eventCont {
	margin: 10px 20px;
	font-size: 14px;
	line-height: 2;
	word-spacing: 8px;
	color: #666;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfo .eventItem {
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-indent: 20px;
	color: #232d4f;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg {
	float: left;
	width: 300px;
	margin-left: 30px;
	min-height: 500px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper {
	width: 300px;
	/*	margin-top: 20px;*/
	/*margin-left: 70px;*/
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .insurance {
	height: 190px;
	position: relative;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .insurance .preview {
	background-color: #abc;
	width: 300px;
	height: 190px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .insurance .insurance-intro {
	width: 300px;
	height: 30px;
	position: absolute;
	bottom: 0;
	background-color: rgba(30, 30, 30, 0.5);
	text-align: center;
	line-height: 30px;
	color: #fff;
	visibility: hidden;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .insurance:hover .insurance-intro {
	visibility: visible;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler {
	margin-top: 14px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .left,
.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .right {
	display: inline-block;
	float: left;
	height: 20px;
	width: 15px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .left {
	background-image: url(/assets/img/invest/detail/left-arrow.png);
	background-position: 0 1px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .right {
	background-image: url(/assets/img/invest/detail/right-arrow.png);
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .selectors-wrapper {
	float: left;
	height: 20px;
	width: 240px;
	margin: 0 5px;
	overflow: hidden;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .selectors-wrapper .selectors {
	float: left;
	width: 9999px;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .selectors-wrapper .selectors .selector {
	float: left;
	height: 20px;
	width: 35px;
	margin-left: 5px;
	border-radius: 2px;
	background-color: #aaa;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .selectors-wrapper .selectors .selector img {
	width: 35px;
	height: 20px;
	border-radius: 5px;
	vertical-align: baseline;
}

.invest-detail-wrapper .tab-panels .loanInfoWrapper .loanInfoImg .insurance-wrapper .controler .selectors-wrapper .selectors .active img {
	border: 1px solid #f00;
}

.invest-detail-wrapper .tab-panels .tab-panel {
	display: none;
	overflow: hidden;
}

.invest-detail-wrapper .tab-panels .active {
	display: block;
}

.invest-detail-wrapper .table > thead > tr > th {
	color: #000;
	text-align: center;
	font-size: 13px;
}

.invest-detail-wrapper .table > tbody > tr > th {
	text-align: center;
	font-size: 14px;
	line-height: 60px;
	color: #666;
	border-bottom: 1px solid #ddd;
}

.invest-record .table > tbody > tr > th.col-current-period {
	color: #437193;
}

.invest-record .table > thead > tr > th {
	color: #000;
	text-align: center;
	font-size: 13px;
}

.invest-record .table > tbody > tr > th {
	text-align: center;
	font-size: 14px;
	line-height: 60px;
	color: #666;
	border-bottom: 1px solid #ddd;
}

.invest-detail-wrapper .table > tbody > tr > th.col-current-period {
	color: #437193;
}
.big-pic-wrapper {
	z-index: 10000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
/*
.big-pic-wrapper .img-wrapper {
	    margin: 60px auto 0;
	    position: relative;
	
	position: fixed;
	    max-width: 90%;
	
	width: 600px;
	    height: 800px;

	left: 50%;
	margin-left: -300px;
}
*/
/*
.big-pic-wrapper .img-wrapper img {
	width: 600px;
	height: 300px;
}
*/

.big-pic-wrapper .img-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
}

.big-pic-wrapper .img-wrapper .big-pic-box {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

.big-pic-wrapper .img-wrapper .big-pic-box img {
	max-height: 100%;
	max-width: 100%;
}

.big-pic-wrapper .close {
	height: 31px;
	width: 30px;
	position: absolute;
	top: 15px;
	right: 50px;
	background: url(/ccc/global/img/main/close.png);
	z-index: 100;
}

.big-pic-wrapper .control {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	filter: alpha(opacity=50);
	opacity: .5;
}

.big-pic-wrapper .control:hover {
	opacity: 0.9;
}

.big-pic-wrapper .control span {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	font-size: 150%;
}

.big-pic-wrapper .prev-big {
	left: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
	background-repeat: repeat-x;
}

.big-pic-wrapper .next-big {
	right: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
	background-repeat: repeat-x;
}

.big-pic-wrapper .status {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 3px 20px;
	font-size: 12px;
}

.h30 {
	height: 30px;
}

.h20 {
	height: 20px;
}

.benefit-calculator {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: #ff9000;
	float: right;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
/*# sourceMappingURL=/ccc/loan/css/detail.css.map */
/*添加*/

.detailTitle a {
	font-size: 14px;
	color: #4a4a4a;
}

.detailTitle {
	padding-top: 30px;
	padding-bottom: 10px;
}

.detailBanner {
	width: 350px;
	float: right;
}

.detailBanner img {
	width: 350px;
	height: 200px;
	margin-top: 20px;
}

.investTitle .time {
	float: right;
	color: #4a4a4a;
	font-size: 14px;
	line-height: 52px;
	margin-right: 30px;
}

.topAmount {
	float: right;
	font-size: 14px;
	width: 100px;
	height: 40px;
	border: 1px solid #f58220;
	border-radius: 5px;
	line-height: 40px;
	color: #f58220;
	background: #fff;
	font-family: '微软雅黑';
    cursor: default;
}

.topAmountActive {
	font-size: 14px;
	width: 100px;
	height: 40px;
	border: 1px solid #009ada;
	border-radius: 5px;
	line-height: 40px;
	color: #009ada;
	background: #fff;
}

#userBlock .calculator span {
	width: 36px;
	line-height: 43px;
	border: none;
	background: #eeeeee;
	margin: 0;
	padding: 0;
}

#userBlock .calculator input {
	width: 96px;
	height: 36px;
	border: none;
	padding: 0;
	margin: 0;
}

#userBlock .calculator {
	border: 1px solid #eeeeee;
	padding: 0;
	margin: 0;
	float: left;
}

#userBlock .calculatorBox {
	overflow: hidden;
	margin-top: 20px;
	/*
	padding-left: 30px;
	padding-right: 30px;
*/
	
	margin-left: 15px;
	margin-right: 15px;
}

#userBlock .calculatorBox1 {
	margin-bottom: 5px;
	overflow: hidden;
	margin-top: 20px;
	/*	margin-left: 10px;*/
	/*	padding-right: 40px;*/
	/*	padding-left: 0px;*/
}

#userBlock .totalInterest {
	margin-top: 10px;
}

.easyPieChart canvas {
	position: absolute;
}

.percentageNum {
	color: #009ada;
	position: absolute;
	/*	margin: 10px 0 0 40px;*/
	
	top: 20px;
}

.itemt .processFont {
	position: absolute;
	/*	margin: 25px 0 0 20px;*/
	
	color: #4a4a4a;
	left: 50%;
	margin-left: -28px;
	top: 36px;
}

#mask-layer-wraper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .8;
}

.over-flow-hidden {
	overflow-y: hidden;
}

.notLogin {
	text-align: center;
}

.danger-control {
	margin-left: 20px;
}

.insurance-wrapper {
	width: 348px;
	float: left;
}

.do-invest-wrapper .status .userBlock .left-time-start span {
	text-align: center;
	color: #999999;
	font-family: '微软雅黑';
	font-weight: normal;
}

.captchaWra {
	margin-top: 10px;
}

.captchaWra .smsCaptcha {
	width: 120px;
	height: 35px;
	border-radius: 5px;
	border: 1px #eeeeee solid;
	text-indent: 20px;
	font-size: 12px;
	line-height: 35px;
	/*padding:20px;*/
}

.captchaWra .send {
	display: block;
	float: right;
	font-size: 12px;
	width: 100px;
	height: 35px;
	border: 1px solid #009ada;
	border-radius: 5px;
	line-height: 35px;
	color: #009ada;
	background: #fff;
	cursor: pointer;
}

.captchaWra .tip {
	float: left;
	display: block;
	font-size: 14px;
	line-height: 35px;
}

.investTitle .time i {
	font-style: normal;
}

.finished-btn {
	width: 318px;
	height: 44px;
/*	background: #009ada;*/
	color: white;
	border: none;
	font-size: 18px;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 5px;
    cursor:default;
}

/*
.finished-btn:hover {
	background-color: gray;
}
*/

.finished-money {
	text-align: left;
	margin-left: 30px;
	font-size: 16px;
	line-height: 38px;
	width: 350px;
	float: left;
}

.calculatorBox .trade-password {
	padding-left: 10px;
	font-size: 14px;
	color: #6b6b6b;
	border: none;
	line-height: 38px;
	width: 190px;
    height: 38px;
}

.calculatorBox .password-box {
	overflow: hidden;
	margin-top: 20px;
}

.calculatorBox .password-box p {
	float: right;
	line-height: 40px;
}

.calculatorBox .password-box p a {
	color: #009ada;
}

.calculatorBox .password {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 40px;
	width: 200px;
	overflow: hidden;
	float: left;
}

#userBlock .leftMoney-open .recharge button {
	background: #f58220;
	color: #fff;
	border: none;
	border-radius: 3px;
	width: 80px;
	height: 30px;
	font-family: '微软雅黑';
}

#userBlock .leftMoney-open .recharge button:hover {
	background-color: #df6502;
}

.controler-title {
	font-size: 18px;
	color: #999;
	line-height: 50px;
	margin-left: 10px;
	font-family: '微软雅黑';
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.protocol {
	color: #007ec5;
}

.time-left {
	color: #f58220;
}

.box-large {
	border: 1px solid #cccccc;
	overflow: hidden;
	background-color: white;
}

.item-pic {
	height: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.easy-pie-chart {
	position: relative;
}

.no-pics {
	color: #ccc;
	font-size: 14px;
	text-align: center
}

.proof{
	margin-top: 15px;
}
.invest-pager li {
    display: inline-block;
    margin: 0 3px;
}
.invest-pager li a {
    padding: 5px 11px;
    border: 1px #eeeeee solid;
    text-decoration: none;
    background-color: #fefefe;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-block;
}
.invest-pager .current-page a {
    background-color: #0096de;
    color: #fff;
    border: 1px #0096de solid;
}
