<div class="account-password-wrapper">
	<div class="account-password-tab">
		<span class="PassTabActive passTab" on-click="checkTab" style="width:120px;">重置交易密码</span>
	</div>
	<div class="space-30"></div>
	<div class="paypwd-wp">
		<div class="initialWra">
			<div class="formwra">
				{{#showErrorMessage}}
		        <div class="errorMessage">
		            {{ errorMessage }}
		        </div>
		        {{/}}
				<div class="resetWra">
					<div class="row">
						<span class="tipss">新的密码</span>
						<input type="password" name="password" value="{{password}}" maxlength="16" class="payInp">
					</div>
					<div class="row">
						<span class="tipss">确认密码</span>
						<input type="password" name="repassword" value="{{repassword}}" maxlength="16" class="payInp">
					</div>
					<div class="row">
						<span class="tipss">短信验证码</span>
						<input type="text" name="smsCaptcha" class="payInp" value="{{smsCaptcha}}" style="width:110px">
						<span on-click="sendCode" class="sendCode">获取短信验证码</span>
					</div>
		    		<div class="space space-30"></div>
					<div class="row">
						<div class="btn-update" on-click="resetPassword">确定重置</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>