<div class="home-topnav">
	<div class="space-10"></div>
	<div class="home-top-container">
		<div class="home-interest">
			<div class="home-tab-amount"><span class="money">￥</span>{{investInterestAmount}}.<span class="more-amount">{{moreiAmount}}</div>
			<div class="home-tab-info">累计收益</div>
		</div>
		<div class="home-total">
			<div class="home-tab-amount"><span class="money">￥</span>{{totalAmount}}.<span class="more-amount">{{moreAmount}}</span></div>
			<div class="home-tab-info">总资产<span class="wh tips-top" data-original-title="总资产=可用余额+待收本息+冻结资金 {{cTotalAmount}} = {{cAmount}} + {{dueInAmount}} + {{frozenAmount}}"></span></div>
		</div>
		<div class="home-avaliable">
			<div class="home-tab-amount"><span class="money">￥</span>{{avaAmount}}.<span class="more-amount">{{morAmount}}</div>
			<div class="home-tab-info">可用余额</div>
		</div>
		<div class="clearfix"></div>
		<div class="space-10"></div>
		<div class="home-bottomBar">
			<a href="/newAccount/withdraw"><div class="home-withdraw-btn">提现</div></a>
			<a href="/newAccount/recharge"><div class="home-recharge-btn">充值</div></a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="space-40"></div>
</div>
<div class="space-30"></div>
<div class="home-invest-wrapper">
	{{#if isEnterprise}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">尚未到期还款</div>
	</div>
	<div class="home-invest-container ccc-myloan-wrap"></div>
	{{else}}
	<div class="home-invest-top-wrapper">
		<div class="home-invest-top">本月项目回款</div>
	</div>
	<div class="home-invest-container ccc-myinvest-wrap"></div>
	{{/if}}
</div>
